<h1>Sequencing Library Query</h1>

<%= form_for(@seqlib_query, :action=> 'index', :method => :get) do |f| %>
<%= render '/shared/errors', model: @seqlib_query, header_message: 'Error(s) in query parameters' %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
    <th>Patient ID:</th>
    <td><%= f.text_field(:patient_id, {:size => 10})%></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <th>Library Barcode(s):</th>
    <td colspan="3"><%= f.text_field(:barcode_string, {:size => 40})%></td>
  </tr>
  <tr><td class="notes" colspan="4">Enter individual library numbers separated by commas, enter ranges with '-'.</td></tr>
  <tr><td class="notes" colspan="4">Eg. '1160,1378-1400,1500-1600'</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
  	<th>Lib Name (search):</th>
    <td><%= f.text_field(:lib_name, :size => 10)%></td>
  </tr>
  <tr>
    <th colspan="2" style="text-align:left"><%= check_box_tag(:excl_splex, 'N', false)%>&nbsp;Include singleplex libs?</th>
    <th colspan="2" style="text-align:left"><%= check_box_tag(:incl_used, 'Y', false)%>&nbsp;Include sequenced libs?</th>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
  	<th>Owner(s):</th>
    <td><%= f.select(:owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple}) %></td>
    <th>Project(s):</th>
    <td><%= f.collection_select(:project, @projects, :project, :project,
                               {:include_blank => '(All)'}, {:size => 3, :multiple => :multiple}) %> </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
   	<th>Prepared from:</th>
	<td colspan="3"><%= f.datepicker 'from_date', dateFormat: 'yy-mm-dd', maxDate: '0', changeMonth: true, changeYear: true, size: 15 %>
	<strong>&nbsp;To:&nbsp;</strong><%= f.datepicker 'to_date', dateFormat: 'yy-mm-dd', maxDate: '0', changeMonth: true, changeYear: true, size: 15 %></td>
  </tr>
</table>
</fieldset>
<br />
<%=raw break_clear(submit_tag "Submit") %>
<%end%>