<h1>Sequencing Library Query</h1>

<% form_for(@seqlib_query, :action=> 'index') do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
    <th>Lib Barcode:</th>
    <td><strong>L</strong><%=f.text_field(:barcode_from, :size => 10)%></td>
	<th>To:</th>
	<td><strong>L</strong><%=f.text_field(:barcode_to, :size => 10)%></td>
  </tr>
  <tr>
  	<th>Lib Name (search):</th>
    <td><%= f.text_field(:lib_name, :size => 10)%></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
  	<th>Owner(s):</th>
    <td><%= f.select(:owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple}) %></td>
    <th>Project(s):</th>
    <td><%= f.collection_select(:project, @projects, :project, :project,
                               {:include_blank => '(All)'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
   	<th>Prepared from:</th>
	<td colspan="3"><%= f.calendar_date_select(:from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%>
	<strong>&nbsp;To:&nbsp;</strong><%= f.calendar_date_select(:to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
  </tr>	  
  <tr>
    <th colspan="2" style="text-align:left">Exclude used libraries?&nbsp;<%= check_box_tag(:excl_used, 'Y', false)%></th>
  </tr> 
</table>
</fieldset>
<br />
<%=raw break_clear(submit_tag "Submit") %>
<%end%>