<h1>Manage Attached Files:</h1>

<% form_tag :action => 'new' do %>
  <fieldset class="form">
  <legend>Attachment for:</legend>
  <table class="form">
  	<tr>
	  <th>Sample Barcode: </th>
	  <td><%= text_field_with_auto_complete(:sample, :barcode_key, {:size => 10},
              {:url => {:controller => :samples, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 3, :method => :get}) %>
	  </td>
	</tr>	
	<tr>
	  <th>H&E Barcode: </th>
	  <td><%= text_field_with_auto_complete(:histology, :he_barcode_key, {:size => 10},
              {:url => {:controller => :histologies, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 4, :method => :get}) %>
	  </td>
	</tr>
	<tr>
	  <th>Molecular Assay: </th>
	  <td><%= text_field_with_auto_complete(:molecular_assay, :barcode_key, {:size => 15},
              {:url => {:controller => :molecular_assays, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 4, :method => :get}) %>
	  </td>
	</tr>
	<tr>
	  <th>Sequencing Library Barcode: </th>
	  <td><%= text_field_with_auto_complete(:seq_lib, :barcode_key, {:size => 15},
              {:url => {:controller => :seq_libs, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 5, :method => :get}) %>
	  </td>
	</tr>
	<tr>
	  <th>Sequencing Run Key:</th>
	  <td><%= text_field_with_auto_complete(:flow_cell, :sequencing_key, {:size => 20},
              {:url => {:controller => :flow_cells, :action => :auto_complete_for_sequencing_key},
               :param_name => :search, :min_chars => 5, :method => :get}) %>
	  </td>
	</tr>
  </table>
  </fieldset>  	
<%= break_clear(submit_tag "Submit") %>
<% end %>
