
<h3><%=h @obj.class.name %>:</h3>

<% if @obj.class.name == 'Histology' %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @obj} %>
<% elsif @obj.class.name == 'SeqLib' %>
  <%= render :partial => 'seq_libs/lib_show', :locals => {:seq_lib => @obj} %>
<% elsif @obj.class.name == 'FlowCell' %>
  <%= render :partial => 'flow_cells/flow_cell_show', :locals => {:flow_cell => @obj} %>
<% end %>

<%= render :partial => 'attached_files/show_and_add', :locals => {:obj => @obj} %>

