<% klass_name = name_of_klass(@obj) %>
<h1><%=h klass_name %>:</h1>

<% if klass_name == 'Sample' %>
  <%= render :partial => 'samples/sample_info', :locals => {:sample => @obj} %>
<% elsif klass_name == 'Histology' %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @obj} %>
<% elsif klass_name == 'Extracted Sample' %>
  <%= render :partial => 'processed_samples/processed_sample_info', :locals => {:processed_sample => @obj} %>
<% elsif klass_name == 'Molecular Assay' %>
  <%= render :partial => 'molecular_assays/assay_show', :locals => {:molecular_assay => @obj} %>
<% elsif klass_name == 'Seq Lib' %>
  <%= render :partial => 'seq_libs/lib_show', :locals => {:seq_lib => @obj} %>
<% elsif klass_name == 'Seq Run' %>
  <%= render :partial => 'flow_cells/flow_cell_show', :locals => {:flow_cell => @obj} %>
<% end %>

<%= render :partial => 'attached_files/show_file', :locals => {:obj => @obj, :add_file_button => 'no'} %>
<%= render :partial => 'attached_files/add_file',  :locals => {:obj => @obj} %>

