<span class="table_title">Extracted Samples
  <% if sample.processed_samples %> (<%= sample.processed_samples.size %> samples) <% end %></span>
  <table class="list">
  <tr>
    <th>Extracted Sample</th>
	<th>Type</th>
    <th>Processing Date</th>
    <th>Amount(ug)</th>
    <th>Conc (ng/ul)</th>
    <th>a260/a280</th>
    <th>RIN#</th>
    <th>Rem?</th>
    <th>Room/Freezer</th>
    <th>Shelf</th>
    <th>Box/Bin</th>
  </tr>
  <% for processed_sample in sample.processed_samples %>
    <tr>
      <td><%=link_to processed_sample.barcode_key, processed_sample_path(processed_sample)%></td>
      <td><%=h processed_sample.extraction_type %></td>
      <td><%=h processed_sample.processing_date %></td>
      <td><%=h processed_sample.final_amt_ug %></td>
      <td><%=h processed_sample.final_conc %></td>
      <td><%=h number_with_precision(processed_sample.final_a260_a280, :precision => 3) %></td>
      <td><%=h number_with_precision(processed_sample.final_rin_nr,    :precision => 1) %></td>
      <td><%=h processed_sample.psample_remaining %></td>
      <td><% if processed_sample.storage_location %><%=h processed_sample.storage_location.location_string %><% end %></td>
      <td><%=h processed_sample.storage_shelf %></td>
      <td><%=h processed_sample.storage_boxbin %></td>
	</tr>
  <% end %>
  </table>