<div id="histlink">
  <b>Histology:</b>
  <%= link_to_function "Show", toggle_div(:histlink, :histology) %>
  <br/>&nbsp;<br/>
</div>

<div id="histology", style="display:none;">
  <b>Histology:</b>
  <%= link_to_function "Hide", toggle_div(:histlink, :histology) %>
  <table class="form">
	<tr>
	  <th>HE slide</th>
	  <th>Histopathology</th>
	  <th>Tumor cell content</th>
	  <th>Inflammation</th>
	  <th>Infiltration</th>
	</tr>
	<tr>
	  <td><%=f.text_field :he_slide_nr, :size => 15 %>
	  <td><%=f.collection_select(:histology, @histology, :c_value, :c_value,
                                {:include_blank => 'Select histopathology'}) %></td>
	  <td><%=f.text_field :tumor_cell_content, :size => 10 %></td>
	  <td><%=f.collection_select(:inflammation_type, @inflam_type, :c_value, :c_value,
                                {:include_blank => 'Select inflamm type'}) %></td>
	  <td><%=f.collection_select(:inflammation_infiltration, @inflam_infiltr, :c_value, :c_value,
                                {:include_blank => 'Select infiltration'}) %></td>
	</tr>
	<tr>
	  <th>Comments</th>
	  <td colspan=4><%=f.text_area :he_slide_comments, :cols => 80, :rows => 2 %></td>
	</tr>
  </table>
</div>