<fieldset class="form">
<legend>Physical Sample</legend>
<table class="form">	
    <tr>
      <th>Barcode: </th><td><%=f.object.barcode_key %></td>
	  <%=f.text_field(:alt_identifier, :size => 12, :label => 'Alt Label')%>
	  <%=f.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value, :label => 'OR Designation') %>
	</tr>
	
    <tr>
      <th>Sample Site - L/R:</th>
      <td><%=f.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value, :wraptags => 'none')%>
      <%=f.select(:left_right, %w[NA L R], :wraptags => 'none') %></td>
      <%=f.collection_select(:sample_type, @sample_type, :c_value, :c_value, :label => 'Sample Type')%>
      <%=f.collection_select(:tissue_preservation, @preservation, :c_value, :c_value,
                            {:include_blank => true}, :label => 'Preservation')%>
    </tr>
	
	<tr>
	  <%=f.collection_select(:sample_container, @sample_units, :c_value, :c_value, :label => 'Container')%>
	  <%=f.collection_select(:vial_type, @vial_types, :c_value, :c_value, {:include_blank => true}, :label => 'Vial Type')%>
	</tr>
	<tr>
      <%=f.collection_select(:amount_uom, @amount_uom, :c_value, :c_value, :label => 'Amt Unit')%>
      <%=f.text_field :amount_initial, :size => 10, :label => 'Initial Amt' %>
	  <%=f.select(:sample_remaining, %w[Y N], {:include_blank => true}, :label => 'Rem?')%></td>
	</tr>
    <tr>
      <%=f.text_area :comments, :tdcolspan => 5, :cols => 85, :rows => 2 %></td>
    </tr>
</table>
</fieldset>

<%= f.fields_for :sample_storage_container do |c| %>
  <%= render :partial => 'shared/storage_container', :locals => {:f => c, :barcode => f.object.barcode_key} %>
<% end %>
