<% source ||= '' %>
<% click_to_link ||= 'none' %>
<% link_to_edit ||= 'yes' %>

<fieldset class="info"><legend><%=source %>Sample Details</legend>
<table class="info">
<tr>
  <th>Barcode:</th>
  	<% if click_to_link == 'show' %>
  	  <td><%=link_to sample.barcode_key, sample %></td>
	<% else %>
	  <td><%=h sample.barcode_key %></td>
	<% end %>
  <th>Collected/Created on:</th><td><%=h sample.sample_date %></td>
<tr>
  <th>Sample Type:</th><td><%=h sample.sample_tissue %>/<%=h sample.sample_type%></td>
  <th>OR Designation: </th><td><%=h sample.tumor_normal %></td>
</tr>
<tr>  
  <th>Pathology DX:</th>
  <td><% if sample.sample_characteristic.pathology %><%=h sample.sample_characteristic.pathology.pathology_classification %><% end %></td>
  <th>Histopathology: </th>
  <td><% if sample.histology %><%=h sample.histology.histopathology %><% end %></td>
</tr>
<tr>
  <th>Container Type:</th><td><%=h sample.container_type %></td>
  <th>Amount:</th><td><%=h sample.sample_amt %></td>
</tr>
<tr>
  <th>Remaining?</th><td><%=h sample.sample_remaining%></td>
  <th>Room/Freezer:</th><td><% if sample.storage_location %><%=h sample.storage_location.location_string %><% end %></td>
</tr>
<tr>
  <th>Shelf:</th><td><%=h sample.storage_shelf %></td>
  <th>Rack#/Bin:</th><td><%=h sample.storage_boxbin %></td>
</tr>
<tr>
  <% if !sample.comments.blank? %>
  <th>Comments:</th><td><%=h sample.comments %></td>
  <% end %>
</tr>
<tr>
  <% if link_to_edit == 'yes' && (can? :edit, sample) %>
  <td class="linkborder"><%= link_to 'Edit Sample', edit_sample_path(sample) %></td>
  <% end %>  
</tr>
</table>
</fieldset>
<br clear="all" />
