<% sample_type = (sample.clinical_sample == 'yes'? 'Source' : 'Dissected') %>

<b><%= sample_type %> Sample Info:</b>
  <table class="info">
	<tr>
	  <th>Barcode</th>
      <th>Sample Site</th>
	  <th>Sample Type</th>
	  <th>OR Designation</th>
	</tr>
	<tr>
	  <td><%=h sample.barcode_key %></td>
	  <td><%=h sample.sample_tissue %></td>
	  <td><%=h sample.sample_type%></td>
	  <td><%=h sample.tumor_normal %></td>
	</tr>
  </table>