<h1>Details for Sample: <%=h @sample.barcode_key %></h1>

<%= render :partial => 'sample_characteristics/clinical_summary', 
                       :locals => {:sample_characteristic => @sample.sample_characteristic,
                                   :patient => @sample.sample_characteristic.patient}%>
								   
<% histology = (@sample.histology ? @sample.histology : 
                                   (@sample.source_sample && @sample.source_sample.histology ? @sample.source_sample.histology : nil)) %>
<% pathology = @sample.sample_characteristic.pathology %>
<% if pathology || histology %>
  <%= render :partial => 'pathologies/pathology_summary', :locals => {:pathology => pathology, :histology => histology} %>
<% end %>

<% if !@sample.source_sample.nil? %>
  <%= render :partial => 'sample_info', :locals => {:source => 'Source',
                                                    :sample => @sample.source_sample} %>
  <%= render :partial => 'sample_info1', :locals => {:source => 'Dissected',
                                                     :sample => @sample,
                                                     :click_to_link => 'none',
                                                     :last_info_box => 'yes'} %>
  <%= render :partial => 'extraction_list', :locals => {:sample => @sample} %>
  
<% else %>
  <%= render :partial => 'sample_info', :locals => {:sample => @sample,
                                                    :click_to_link => 'none',
                                                    :last_info_box => 'yes'} %>
  <%= render :partial => 'dissection_list', :locals => {:source_sample => @sample} %>
  
<% end %>