<h3>Details for Sample: <%=h @sample.barcode_key %></h3>

<%= render :partial => 'sample_characteristics/clinical_summary', 
                       :locals => {:sample_characteristic => @sample.sample_characteristic,
                                   :patient => @sample.sample_characteristic.patient}%>

<%= render :partial => 'sample_summary', :locals => {:sample => @sample,
                                                     :sample_characteristic => @sample.sample_characteristic} %>

<% if @sample.sample_characteristic.pathology %>
  <%= render :partial => 'pathologies/pathology_info', :locals => {:pathology => @sample.sample_characteristic.pathology} %>
<% end %>

<% if @sample.histology %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @sample.histology} %>
<% elsif @sample.source_sample && @sample.source_sample.histology %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @sample.source_sample.histology} %>
<% end %>

<% if can? :edit, @sample %>
  <%= button_to 'Edit Sample', edit_sample_path(@sample, :new_sample => @sample_is_new), :method => :get %>
<% end %>