<fieldset class="form">
<legend>Assigned Barcode Ranges</legend>
<table class="form">
  <tr><%=f.text_field :assign_date %></tr>
  <tr><%=f.text_field :group_name %><%=f.text_field :owner_name %></tr>
  <tr><%=f.text_field :sample_type %></tr>
  <tr><%=f.text_field :start_barcode %><%=f.text_field :end_barcode %></tr>
</table>
</fieldset>
