<table class="list">
  <tr>
  	<th>Barcode</th>
	<th>Patient ID</th>
	<th>Consent Protocol</th>
    <th>Clinic</th>
    <th>Sample Date</th>
	<th>Sample Type</th>
    <th>Surgical Assess.</th>
    <th>Sample Container</th>
  </tr>
  
  <% samples.each do |sample| %>
      <tr>
      	<td><%=link_to sample.barcode_key, sample_path(sample) %></td>
		<td><%=h sample.patient_id %></td>
		<td><%=h sample.sample_characteristic.consent_nr %>
		<% if sample.sample_characteristic.consent_protocol %>/<%=h sample.sample_characteristic.consent_protocol.consent_abbrev%><% end %></td>
		<td><%=h sample.sample_characteristic.clinic_or_location %></td>
        <td><%=h sample.sample_date %></td>
		<td><%=h sample.sample_category %></td>
        <td><%=h sample.tumor_normal %></td>
        <td><%=h sample.container_type %></td>
      </tr>
    <% end %>
</table>