<table class="form">
  	<tr>
  	  <th><%= f.label :device_name %></th>
	  <td><%= f.text_field :device_name %></td>
	</tr>
	
	<tr>
	  <th><%= f.label :building_location %></th>
      <td><%= f.text_field :building_loc %></td>
	</tr>
	
    <tr>
	  <th><%= f.label :sequencing_run_dir %></th>
      <td><%= f.text_field :base_run_dir %></td>
	</tr>
	
  </table>