<h1>Edit storage device</h1>

<%= tagged_form_for(@storage_device) do |f| %>
  <%= render '/shared/errors', model: @storage_device %>

  <%= render :partial => 'storage_device_form', :locals => {:f => f} %>
  
  <%=raw break_clear %>
  <%= f.submit "Update" -%>&nbsp;&nbsp;<%= link_to 'List All', storage_devices_path %>
<% end %>
