<h3>Storage Devices</h3>

<table class="border">
  <tr>
    <th>Device name</th>
	<th>Building location</th>
	<th>Seq Run Directory</th>
  </tr>

  <% @storage_devices.each do |device| %>
  <tr>
    <td><%=h device.device_name %></td>
	<td><%=h device.building_loc %></td>
	<td><%=h device.base_run_dir %></td>
    <td><%= link_to 'Edit', edit_storage_device_path(device) %></td>
    <td><%= link_to 'Delete', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New storage device', new_storage_device_path %>
