<h1>View Storage Device</h1>

<fieldset class="info">
<legend>Device Details</legend>
<table class="info">
  	<tr>
  	  <th>Device name:</th>
	  <td><%=h @storage_device.device_name %></td>
	</tr>
	
	<tr>
	  <th>Building Location:</th>
      <td><%=h @storage_device.building_loc %></td>
	</tr>
    
	<tr>
	  <th>Seq Run Directory:</th>
      <td><%=h @storage_device.base_run_dir %></td>
	</tr>
  </table>
</fieldset>
<%= break_clear %>

<% if can? :edit, @storage_device %><%= link_to 'Edit', edit_storage_device_path(@storage_device) %> | <% end %>
<%= link_to 'List All', storage_devices_path %>
