<% click_to_link ||= 'none' %>

<span class="table_title">Clinical Characteristics:</span>
<table class="info">
  <tr>
  	<th>Patient ID: </th>
	<% if click_to_link == 'show' && (can? :read, patient) %>
	<td><%=link_to sample_characteristic.patient_id, patient %></td>
	<% elsif click_to_link == 'edit' && (can? :edit, patient) %>
	<td><%=link_to sample_characteristic.patient_id, edit_patient_path(patient) %></td>
	<% else %>
	<td><%=h sample_characteristic.patient_id %></td>
	<% end %>
	
	<th>Gender: </th><td><%=h patient.gender %></td>
	<th>Race/Ethnicity: </th><td><%=h patient.race %>/<%=h patient.ethnicity %></td>
  </tr>
  <tr>
  	<th>Collected on: </th><td><%=h sample_characteristic.collection_date%></td>
	<th>From: </th><td><%=h sample_characteristic.clinic_or_location %></td>
	<th>Consent Protocol: </th><td><%=h sample_characteristic.consent_nr %>
	    <% if sample_characteristic.consent_protocol %>/<%=h sample_characteristic.consent_protocol.consent_abbrev%><% end %></td>
  </tr>
  <% if !sample_characteristic.comments.blank? %>
  <tr>
	<th>Comments: </th><td colspan=5><%=h sample_characteristic.comments %></td>
  </tr>
  <% end %>
</table>