<span class="table_title">Sample Aquisition:</span>
<table class="info">
	<tr>
      <th>Collected</th>
	  <td><%=h sample_characteristic.collection_date%></td>
	  <th>From</th>
	  <td><%=h sample_characteristic.clinic_or_location%></td>
	  <th>Protocol</th>
	  <td><%=h sample_characteristic.consent_nr %>
	      <% if sample_characteristic.consent_protocol %>/<%=h sample_characteristic.consent_protocol.consent_abbrev%><% end %></td>
	<% if can? :edit, sample_characteristic %>
	  <td class="linkborder"><%=link_to 'Edit', edit_sample_characteristic_path(sample_characteristic) %></td>
	<% end %>
	</tr>
</table>