<% removable ||= 'no' %>
<div id="samples">
  <span class="form_title">Physical Sample:</span>
  <% new_or_existing = sample.new_record? ? 'new' : 'existing' %>
  <% prefix = "sample_characteristic[#{new_or_existing}_sample_attributes][]" %>
  
<table class="form">
  <% fields_for prefix, sample do |s| %> 
    <%=s.hidden_field(:patient_id, :value => @patient_id) %>
	<%=s.error_messages%>
	
    <tr>
      <th>Barcode</th>
	  <td><%=s.text_field :barcode_key, :size => 10 %></td>
	  <th>OR Designation</th>
	  <td><%=s.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value) %></td>
    </tr>
	
    <tr>
      <th>Sample Site - L/R</th>
      <td><%=s.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value)%>
          <%=s.select(:left_right, %w[NA L R]) %></td>
      <th>Sample Type</th>
      <td><%=s.collection_select(:sample_type, @sample_type, :c_value, :c_value)%></td>	
      <th>Preservation</th>
      <td><%=s.collection_select(:tissue_preservation, @preservation, :c_value, :c_value,
                                {:include_blank => true})%></td>
    </tr>
	
	<tr>
	  <th>Container</th>
	  <td><%=s.collection_select(:sample_container, @sample_units, :c_value, :c_value)%></td>
	  <th>Vial Type</th>
	  <td><%=s.collection_select(:vial_type, @vial_types, :c_value, :c_value,
                                 {:include_blank => true})%></td>
	  <th>Amt Unit</th>
	  <td><%=s.collection_select(:amount_uom, @amount_uom, :c_value, :c_value)%></td>
	  
	  <% if new_or_existing == 'new' %>
	  <th>Amount</th>
	  <td><%=s.text_field :amount_initial, :size => 8 %></td>
	  <% else %>
	  <th>Amount-Initial</th>
	  <td><%=s.text_field :amount_initial, :size => 8 %></td>
	  <% end %>
    </tr>
	
    <tr>
      <th>Room/Freezer</th>
	  <%= render :partial => 'shared/storage_select', :locals => {:f => s} %>
	  <th>Shelf</th>
	  <td><%=s.text_field :storage_shelf, :size => 10 %></td>
      <th>Rack#/Bin</th>
	  <td><%=s.text_field :storage_boxbin, :size => 10 %></td>
	  <% if new_or_existing != 'new' %>
	  <th>Amount-Rem</th>
	  <td><%=s.text_field :amount_rem, :size => 8 %></td>
	  <% end %>
    </tr>
    <tr>
      <th text-align="right">Comments: </th>
      <td colspan=5><%=s.text_field :comments, :size => 100 %></td>
    </tr>
	<!--  link_to_function "remove", "$(this).up('.samples').remove()"  -->
  <% end %>
</table>

</div>