<% removable ||= 'no' %>

<div id="samples"> 
  <%=s.hidden_field(:patient_id, :value => @patient_id) %>
  <%= render '/shared/errors', model: s.object %>

<fieldset class="form">
<legend>Physical Sample</legend> 
<table class="form">
    <tr>
      <th>Barcode</th>
	  <td><%=s.text_field :barcode_key, :size => 10 %></td>
	  <th>OR Designation</th>
	  <td><%=s.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value) %></td>
    </tr>
	
    <tr>
      <th>Sample Site - L/R</th>
      <td><%=s.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value)%>
          <%=s.select(:left_right, %w[NA L R]) %></td>
      <th>Sample Type</th>
      <td><%=s.collection_select(:sample_type, @sample_type, :c_value, :c_value)%></td>	
      <th>Preservation</th>
      <td><%=s.collection_select(:tissue_preservation, @preservation, :c_value, :c_value,
                                {:include_blank => true})%></td>
    </tr>
	
	<tr>
	  <th>Container</th>
	  <td><%=s.collection_select(:sample_container, @sample_units, :c_value, :c_value)%></td>
	  <th>Vial Type</th>
	  <td><%=s.collection_select(:vial_type, @vial_types, :c_value, :c_value,
                                 {:include_blank => true})%></td>
    </tr>
	<tr>
	  <th>Amt Unit</th>
	  <td><%=s.collection_select(:amount_uom, @amount_uom, :c_value, :c_value)%></td>
	  
	  <% if s.object.new_record? %>
	    <th>Amount</th>
	    <td><%=s.text_field :amount_initial, :size => 8 %></td>
        <th>Sample Rem?</th>
        <td><%=s.select(:sample_remaining, %w[Y N U]) %></td>
	  <% else %>
	    <th>Amount-Initial</th>
	    <td><%=s.text_field :amount_initial, :size => 8 %></td>
        <th>Sample Rem?</th>
        <td><%=s.select(:sample_remaining, %w[Y N U]) %></td>
	    <th>Amount-Rem</th>
	    <td><%=s.text_field :amount_rem, :size => 8 %></td>
	  <% end %>
    </tr>

    <tr>
      <th>Comments: </th>
      <td colspan=5><%=s.text_area :comments, :cols => 80, :rows => 2 %></td>
    </tr>
</table>
</fieldset>

<%= s.fields_for :sample_storage_container do |g| %>
  <%= render :partial => 'shared/storage_container_tags', :locals => {:f => g, :barcode => s.object.barcode_key} %>
<% end %>

</div>
