<h1>Editing Sample Acquisition details for Patient: <%= @sample_characteristic.patient_id %>, Collection Date: <%= @sample_characteristic.collection_date %></h1>

<%= form_for @sample_characteristic do |f| %>
  <%= render '/shared/errors', model: @sample_characteristic %>

  <%= render :partial => 'patient_info', :locals => {:sample_characteristic => @sample_characteristic,
                                                     :patient => @sample_characteristic.patient } %>  
  <%= render :partial => 'clinical_form',    :locals => {:f => f} %>
  
  <%=raw break_clear %>
  
  <span class="table_title">Physical Sample(s):</span>
  <table class="list">
    <%= render :partial => 'samples/sample_hdr' %>
	
    <% for sample in @sample_characteristic.samples %>
	   <% if !sample.id.nil?%>
         <%= render :partial => 'samples/sample_row', :locals => {:sample => sample} %>
	   <% end %>
    <% end %>	
  </table>

    <div id="sample_link">
    <%= link_to 'Add another sample for this patient/collection date', add_another_sample_sample_characteristic_path(@sample_characteristic.id),
              :id => "add_more", :remote => true, :"data-method" => 'post' %>
    </div>
    <%= javascript_tag do %>
        $('#add_more').bind("ajax:complete", function(event, data){
        $('#sample_link').toggle();
        $('#load_more').html(data.responseText); // insert content
        });
    <% end %>

    <div id='load_more'>
      <% if @sample_with_error %>
        <%= render :partial => 'samples_form1', :locals => {:sample => @sample_with_error} %>
      <% end %>
    </div>
  
<%=raw break_clear(f.submit "Update") %>
<% end %>
