<h3>Editing Sample Acquisition details for Patient: <%= @sample_characteristic.patient_id %>, Collection Date: <%= @sample_characteristic.collection_date %></h3>

<% form_for(@sample_characteristic) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'patient_info', :locals => {:sample_characteristic => @sample_characteristic,
                                                     :patient => @sample_characteristic.patient } %> 
  
  <%= render :partial => 'clinical_form',    :locals => {:f => f} %>
  
  <span class='table_title'>Physical Sample(s):</span>
  <table class="list">
    <%= render :partial => 'samples/sample_hdr' %>
	<% blank_sample_in_error = false %>
	
    <% for sample in @sample_characteristic.samples %>
	   <% if !sample.id.nil?%>
         <%= render :partial => 'samples/sample_row', :locals => {:sample => sample} %>
	   <% else %>
	     <% blank_sample_in_error = true %>
	   <% end %>
    <% end %>	
  </table>
  
  <% if blank_sample_in_error == true %>
    <% for sample in @sample_characteristic.samples %>
	  <% if sample.id.nil? %>
	    <% render :partial => 'samples_form', :locals => {:sample => sample} %>
	  <% end %>
	<% end %>
  
  <% else %>
  <div id="more_to_add">
    <p><%= link_to_function "Add another sample for this patient/collection date", toggle_div(:more_to_add, :add_more) %></p>
  </div>
	
  <div id="add_more", style="display:none">	
	<%= render :partial => 'samples_form', :locals => {:sample => @sample_characteristic.samples.build(@sample_params),
                                                       :removable => 'no'} %>
  </div>
  <% end %>
  
  <%= f.submit "Update" %>
<% end %>
