<h1>Editing Sample Acquisition details for Patient: <%= @sample_characteristic.patient_id %>, Collection Date: <%= @sample_characteristic.collection_date %></h1>

<% form_for @sample_characteristic do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'patient_info', :locals => {:sample_characteristic => @sample_characteristic,
                                                     :patient => @sample_characteristic.patient } %> 
  
  <%= render :partial => 'clinical_form',    :locals => {:f => f} %>
  
  <%= break_clear %>
  
  <span class="table_title">Physical Sample(s):</span>
  <table class="list">
    <%= render :partial => 'samples/sample_hdr', :locals => {:from_nccc => @sample_characteristic.from_nccc?} %>
	
    <% for sample in @sample_characteristic.samples %>
	   <% if !sample.id.nil?%>
         <%= render :partial => 'samples/sample_row', :locals => {:sample => sample,
                                                                  :from_nccc => @sample_characteristic.from_nccc?} %>
		 <% @last_sample_id = sample.id %>
	   <% else %>
	     <% @new_sample_with_error = sample %>
	   <% end %>
    <% end %>	
  </table>
  
  <% if @new_sample_with_error %>
	  <%= render :partial => 'samples_form', :locals => {:sample => @new_sample_with_error} %>
  
  <% else %>
    <div id="add_more">
      <%= link_to_remote("Add another sample for this patient/collection date",
                         :url => {:action => :add_new_sample, :f => f, :id => @sample_characteristic.id, :from_sample_id => @last_sample_id},
                         :method => :get) %>
 	</div>	
  <% end %> 
  
  <%= break_clear(f.submit "Update") %>
<% end %>
