<h1>Sample Acquisition - Select parameters</h1>

<% form_tag :action=> 'edit_params'  do %>
<%= hidden_field_tag(:filter, 'edit')%>

<table class="form border">
  <tr>
  <% if can? :read, Patient %>
  	<th>MRN:</th><td><%= text_field_tag(:mrn) %></td>	
  <% end %>
  	<th>Patient ID:</th><td><%= text_field_tag(:patient_id) %></td>
  	<th>Barcode:</th><td><%= text_field_tag(:barcode_key)%></td>
  </tr>
</table>

<%= submit_tag "Submit" %>
<%end%>