<h3>Patient Samples - Select parameters </h3>

<% form_tag :action=> 'list_selected'  do %>
<%= hidden_field_tag(:filter, 'query')%>

<table class="form">
  <tr>
  <% if can? :read, Patient %>
  	<th>MRN:</th><td><%= text_field_tag(:mrn) %></td>	
  <% end %>
  	<th>Patient ID:</th><td><%= text_field_tag(:patient_id) %></td>
  </tr>
</table>

<table class="form01">
  <tr>
    <th>Consent Protocol:</th>
	<th>Clinic:</th> 
  </tr> 
  <tr>
  	<td><%= collection_select(:sample_characteristic, :consent_protocol_id, @consent_protocols, :id, :name_ver,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
	<td><%= collection_select(:sample_characteristic, :clinic_or_location, @clinics, :c_value, :c_value,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
</table>

<table class="form01">
  <tr>
  	<th>Gender:</th>
	<th>Race:</th>
  	<th>Sample Site</th>
    <th>Sample Type:</th>
  </tr> 
  <tr>
  	<td><%= select_tag(:gender, options_for_select(%w{All M F})) %></td>
	<td><%= collection_select(:sample_characteristic, :race, @races, :c_value, :c_value,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
  	<td><%= collection_select(:sample, :sample_tissue, @source_tissue, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
    <td><%= collection_select(:sample, :sample_type, @sample_type, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td>    
  </tr>
</table>     
  
<table class="form01">
  <tr>
  	<th>Collected From:</th>
	<td><%= select_date(nil, :prefix => 'from_date', :end_year => Date.today.year, :include_blank => true)%></td>
	<td>&nbsp;&nbsp;</td>
  	<th>To:</th>
	<td><%= select_date(@to_date, :prefix => 'to_date', :end_year => Date.today.year, :include_blank => true)%></td>
  </tr>	
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>