<h3>Samples for Patient: <%=h @sample_characteristic.patient_id %>, Collection Date: <%=h @sample_characteristic.collection_date %></h3>

<%= render :partial => 'sample_characteristics/clinical_summary', 
                       :locals => {:sample_characteristic => @sample_characteristic,
                                   :patient => @sample_characteristic.patient}%>

<span class='table_title'>Physical Samples:</span>
<table class="border">
  <%= render :partial => 'samples/sample_hdr' %>
  
  <% for sample in @sample_characteristic.samples %>
    <%= render :partial => 'samples/sample_row', :locals => {:sample => sample} %>
  <% end %>
  
</table>

<% if can? :edit, @sample_characteristic %>
  <%= link_to 'Edit Sample Info', edit_sample_characteristic_path(@sample_characteristic) %>
<% end %>
<% if @addnew_link == 'yes' %>
  <br/><br/>
   Add another sample for <%= link_to 'this patient',  :action => :new_sample, :patient_id => @sample_characteristic.patient_id %> 
                     or <%= link_to 'another patient', :action => :new %>
<% end %>


