<h3><%= @type_of_sample.camelize %> Samples Query</h3>

<% form_for(@sample_query, :action => 'index') do |f| %>
<%= hidden_field_tag(:stype, @type_of_sample)%>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
  <% if can? :read, Patient %>
  	<th>Patient MRN:</th>
	<td><%= f.text_field(:mrn, :size => 10) %><strong> -or- Patient ID:&nbsp;&nbsp;</strong><%= f.text_field(:patient_id, :size => 10) %></td>
  <% else %>
  	<th>Patient ID:</th><td><%= f.text_field(:patient_id, :size => 10) %></td>
  <% end %>
  	<th>Sample Barcode:</th><td><%= f.text_field(:barcode_key, :size => 12)%></td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
  	<th>Consent Protocol:</th><td><%= f.collection_select(:consent_protocol_id, @consent_protocols, :id, :name_ver,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
	<th>Clinic:</th><td><%= f.collection_select(:clinic_or_location, @clinics, :c_value, :c_value,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
  <tr>
  	<th>OR Designation:</th><td><%= f.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value,
                   {:include_blank => 'All'}) %></td>    
  	<th>Gender:</th><td><%= f.select(:gender, %w{M F}, {:include_blank => 'All'}) %></td>
  </tr>
  <tr>
  	<th>Sample Site:</th><td><%= f.collection_select(:sample_tissue, @source_tissue, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
	<th>Race:</th><td><%= f.collection_select(:race, @races, :c_value, :c_value,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
  <tr>
  	<th>Sample Type:</th><td><%= f.collection_select(:sample_type, @sample_type, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td>
	<th>Preservation:</th><td><%= f.collection_select(:tissue_preservation, @preservation, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
     
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
  	<th>Date Filter:</th>
	<td><%= f.select(:date_filter, ["Collection Date", "Dissection Date"]) %></td>
  </tr>
  <tr>
  	<th>Select Date Range:</th>
	<td><%=f.calendar_date_select(:from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %>
	<strong>&nbsp;To:&nbsp;</strong><%=f.calendar_date_select(:to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
  </tr>
  <tr>
  	<td></td>
  </tr>
</table>
</fieldset>
<br clear="all" /><%= submit_tag "Submit" %>
<%end%>