<% if controller.action_name == 'new' %>
<fieldset class="info">
  <legend>From Sample:</legend>
    <table class="info">
	  <tr>
	  	<th>Barcode</th>
		<td><%=h @sample.barcode_key%>
		<th>Sample Site</th>
		<td><%=h @sample.sample_tissue %></td>
	  </tr>
	  
	  <tr>
		<th>Sample type</th>
		<td><%=h @sample.sample_type%></td>
		<th>OR Designation</th>
		<td><%=h @sample.tumor_normal %></td>
	  </tr>
	  
	  <tr>
		<th>Amt UOM</th>
		<td><%=h @sample.amount_uom %></td>
		<th>Initial Amt</th>
		<td><%=h @sample.amount_initial %></td>		
	  </tr>
	  
	  <tr>
	  	<th>Remaining?</th>
		<td><%= select(:sample, :sample_remaining, %w[Y N], :wraptags => 'none')%></td>
	  </tr>
    </table>
  </fieldset>
<% end %>

<fieldset class="form">
<legend>Extracted Sample Info</legend>
  <table class="form">
	<tr>
	  <%=f.collection_select(:extraction_type, @extraction_type, :c_value, :c_value, :label => 'Type')%>
	  <%=f.calendar_date_select(:processing_date, :year_range => [Sample::START_YEAR, 0.years.from_now],
                                :valid_date_check => "date <= (new Date()).stripTime()", :label => 'Processing Date', :size => 15) %>
	  <%=f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                            {:include_blank => 'Select protocol'}, :label => 'Protocol')%>
	</tr>

	<tr>  
	  <%=f.collection_select(:vial, @vial_vol, :c_value, :c_value, :label => 'Vial')%>
	  <%=f.collection_select(:support, @support, :c_value, :c_value, :label => 'Support')%>
	  <%=f.collection_select(:elution_buffer, @elution_buffer, :c_value, :c_value,
                            {:include_blank => 'Select..'}, :label => 'Elution Buffer')%>
	</tr>

	<tr>
	  <%=f.text_field :final_vol, :size => 12, :label => 'Volume (ul)' %>
	  <%=f.text_field :final_conc, :size => 12, :label => 'Conc (ng/ul)' %>
	</tr>
	<tr>
	  <%=f.text_field :final_a260_a280, :size => 8, :label => 'a260/a280' %>
	  <%=f.text_field :final_rin_nr, :size => 6, :label => 'RIN#' %>
	</tr>
	<tr>
	  <%=f.text_area :comments, :tdcolspan => 5, :cols => 80, :rows => 2 %>
	</tr>
  </table>
</fieldset>

<% f.fields_for :sample_storage_container do |c| %>
  <%= render :partial => 'shared/storage_container', :locals => {:f => c, :barcode => f.object.barcode_key} %>
<% end %>