<% capture_ids ||= 'no'%>

<tr>
<td><%=h processed_sample.sample.patient_id %></td>
<td>
<% if controller.action_name == 'show' %>
    <%=h processed_sample.barcode_key %> /
<% else %>
    <%=link_to processed_sample.barcode_key, processed_sample_path(processed_sample)%> /
<% end %>
<%=h processed_sample.extraction_type %>
</td>

<td><%=link_to processed_sample.sample.barcode_key, 
                                sample_path(processed_sample.sample.id) %> /
	<%=h processed_sample.sample.tumor_normal %>
</td>

<td><%=h processed_sample.processing_date %></td>
<td><%=h processed_sample.final_amt_ug %></td>
<td><%=h processed_sample.final_conc %></td>
<td><%=h number_with_precision(processed_sample.final_a260_a280, :precision => 3) %></td>
<td><%=h number_with_precision(processed_sample.final_a260_a230, :precision => 3) %></td>
<td><%=h number_with_precision(processed_sample.final_rin_nr,    :precision => 1) %></td>
<td><%=h processed_sample.psample_remaining %></td>
<td><%=h processed_sample.room_and_freezer %></td>
<td><%=h processed_sample.container_and_position %></td>
<td><%=h processed_sample.user.login if processed_sample.user %></td>

<% if capture_ids == 'yes' %><%= hidden_field_tag("export_id[]", processed_sample.id)  %><% end %>

<% if can? :edit, processed_sample %>
  <td><%= link_to 'Edit', edit_processed_sample_path(processed_sample) %></td>
<% end %>

<% if can? :delete, processed_sample %>
  <td><%= link_to 'Delete', processed_sample, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</tr>