<h1>Editing extracted sample: <%=h @processed_sample.barcode_key %></h1>

<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @processed_sample.sample.sample_characteristic,
                                                                              :patient => @processed_sample.sample.patient }%>

<%= render :partial => 'samples/sample_info', :locals => {:sample => @processed_sample.sample,
                                                          :source => 'Source'} %>

<% tagged_form_for(@processed_sample) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'processed_sample_form', :locals => {:f => f} %>
  <%=raw break_clear(f.submit "Update") %>
<% end %>
