<h3>Listing Extracted Samples</h3>
<% if @sample %>
  <%= render :partial => 'samples/sample_info1', :locals => {:source => 'Source',
                                                             :sample => @sample, 
                                                             :sample_characteristic => @sample.sample_characteristic} %>
<% end %>

<span class="table_title">Extracted Samples</span>
<% if @processed_samples %> (<%= @processed_samples.size %> samples) <% end %>
<table class="list">
  <%= render :partial => 'processed_sample_hdr' %>
  
  <% for processed_sample in @processed_samples %>
    <%= render :partial => 'processed_sample_row', :locals => {:processed_sample => processed_sample} %>
  <% end %>
</table>

<% if controller.action_name == 'show_by_sample' %>
  <p>Click <%= link_to 'here', new_processed_sample_path(:source_id => @sample.id) %> 
     to add additional extracted sample from same source/dissected sample </p>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>