<h1>Sample Extraction</h1>

<%= tagged_form_for(@processed_sample) do |f| %>
    <%= render '/shared/errors', model: @processed_sample %>
  
  <%= f.hidden_field :sample_id,  :value => @sample.id %>
  <%= f.hidden_field :patient_id, :value => @sample.patient_id %>
  <%= f.hidden_field :input_uom, :value => @sample.amount_uom %>
  
  <%= render :partial => 'processed_sample_form', :locals => {:f => f} %>
  
  <%=raw break_clear(f.submit "Save") %>
 
<% end %>
