<h3>Extracted Samples - Select parameters</h3>

<% form_tag :action=> 'list_selected'  do %>

<table class="form">
  <tr>
  <% if can? :read, Patient %>
  	<th>MRN:</th><td><%= text_field_tag(:mrn) %></td>	
  <% end %>
  	<th>Patient ID:</th><td><%= text_field_tag(:patient_id) %></td>
  	<th>Barcode:</th><td><%= text_field_tag(:barcode_key)%></td>
  </tr>
</table>

<table class="form01">
  <tr>
    <th>Consent Protocol:</th>
	<th>Clinic:</th> 
  </tr> 
  <tr>
  	<td><%= collection_select(:sample_characteristic, :consent_protocol_id, @consent_protocols, :id, :name_ver,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
	<td><%= collection_select(:sample_characteristic, :clinic_or_location, @clinics, :c_value, :c_value,
                             {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
</table>

<table class="form01">
  <tr>
  	<th>Sample Site</th>
    <th>Sample Type:</th>
	<th>Preservation:</th>
    <th>OR Designation:</th>
  </tr> 
  <tr>
  	<td><%= collection_select(:sample_characteristic, :sample_tissue, @source_tissue, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
    <td><%= collection_select(:sample_characteristic, :sample_type, @sample_type, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
	<td><%= collection_select(:sample_characteristic, :tissue_preservation, @preservation, :c_value, :c_value,
                   {:include_blank => 'All'}, {:size => 3, :multiple => :multiple}) %> </td> 
    <td><%= collection_select(:sample, :tumor_normal, @tumor_normal, :c_value, :c_value,
                   {:include_blank => 'All'}) %></td> 
    
  </tr>
</table> 

<table class="form01">
  <tr>
  	<th>Extraction Protocol:</th>
  	<th>Extracted Type:</th>
  </tr>
  <tr>
  	<td><%= collection_select(:processed_sample, :protocol_id, @protocols, :id, :name_ver,
                             {:include_blank => 'All'}) %></td>
  	<td><%= collection_select(:processed_sample, :extraction_type, @extraction_type, :c_value, :c_value,
                             {:include_blank => 'All'}) %></td>
  </tr>	
</table> 

<table class="form01">
  <tr>
  	<th>Processed From:</th>
  	<th>To:</th>
  </tr>
  <tr>
  	<td><%= select_date(@from_date, :prefix => 'from_date', :end_year => Date.today.year)%></td>
	<td><%= select_date(@to_date, :prefix => 'to_date', :end_year => Date.today.year)%></td>
  </tr>	
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>


