<h3>Details for Extraction: <%=h @processed_sample.barcode_key %></h3>
<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @processed_sample.sample.sample_characteristic,
                                                                              :patient => @processed_sample.sample.patient }%>

<%= render :partial => 'samples/sample_info', :locals => {:sample => @processed_sample.sample,
                                                          :source => 'Source'} %>
 
<% if @processed_sample.sample.sample_characteristic.pathology %>
  <%= render :partial => 'pathologies/pathology_info',
             :locals => {:pathology => @processed_sample.sample.sample_characteristic.pathology} %>
<% end %>

<% if @processed_sample.sample.histology %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @processed_sample.sample.histology} %>
<% elsif @processed_sample.sample.source_sample && @processed_sample.sample.source_sample.histology %>
  <%= render :partial => 'histologies/histology_info', :locals => {:histology => @processed_sample.sample.source_sample.histology} %>
<% end %>
  
<%= render :partial => 'processed_sample_info', :locals => {:processed_sample => @processed_sample} %>