<h1>Details for Extraction: <%=h @processed_sample.barcode_key %></h1>
<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @processed_sample.sample.sample_characteristic,
                                                                              :patient => @processed_sample.sample.patient }%>

<% histology = (@processed_sample.sample.histology ? @processed_sample.sample.histology : 
               (@processed_sample.sample.source_sample && @processed_sample.sample.source_sample.histology ? @processed_sample.sample.source_sample.histology : nil)) %>
<% pathology = @processed_sample.sample.sample_characteristic.pathology %>
<% if pathology || histology %>
  <%= render :partial => 'pathologies/pathology_summary', :locals => {:pathology => pathology, :histology => histology,
                                                                      :click_to_link => 'show'} %>
<% end %>

<%= render :partial => 'samples/sample_info', :locals => {:sample => @processed_sample.sample,
                                                          :source => 'Source'} %>

<%= render :partial => 'processed_sample_info', :locals => {:processed_sample => @processed_sample} %>