<h1>Runs/Lanes (GAII)</h1>
    <table class="list">
      <tr>
  	    <th colspan="3" class="no_border_bottom"></th>
  	    <th colspan="2" class="no_border_bottom"><%="Clusters".center(24,'-')%></th>
		<th colspan="2" class="no_border_bottom"><%="Intensities".center(24,'-')%></th>
		<th colspan="2" class="no_border_bottom"><%="Alignment".center(22,'-')%></th>
	    <th colspan="2" class="no_border_bottom"><%="Reads".center(30,'-')%></th>
      </tr>
	  <tr>
  	    <th>Seq Key</th>
	    <th>FlowCell Dt</th>
	    <th>Ln </th>
  	    <th>Raw</th>
	    <th>PF</th>
		<th>Cycle 1</th>
	    <th>Cycle 20</th>
	    <th>Align%</th>
	    <th>Error%</th>
	    <th>Unique</th>
	    <th>Non-unique</th>
      </tr>
  
      <% for flow_lane in flow_lanes %>
        <tr>
        <% if flow_lane.sequencing_key.nil? %>
	    <td >FlowCell/Not Sequenced</td>
	    <% else %>
	    <td ><%=link_to flow_lane.sequencing_key, :controller => :flow_cells, :action => :show_qc,
                                                 :id => flow_lane.flow_cell_id %></td>
	    <% end %>
	    <td ><%=h format_date(flow_lane.flow_cell.flowcell_date)%></td>
	    <td ><%=h flow_lane.lane_nr %>
	  
	    <% if !flow_lane.align_qc.nil?%>
		<td align="right"><%=h number_with_delimiter(flow_lane.align_qc.clusters_raw, :delimiter => ',') %></td>
	    <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.clusters_pf,  :delimiter => ',') %></td>
		<td align="right"><%=h flow_lane.align_qc.cycle1_intensity_pf %></td>
	    <td align="right"><%=h flow_lane.align_qc.cycle20_intensity_pct_pf %>%</td>
	    <td align="right"><%=h flow_lane.align_qc.pct_align_pf %>%</td>
	    <td align="right"><%=h flow_lane.align_qc.pct_error_rate_pf %>%</td>
	    <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_uniques,    :delimiter => ',') %></td>
	    <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_nonuniques, :delimiter => ',') %></td>
	    <% end %>
      </tr>
      <% end %>
    </table>