<span class="form_title">Dissected Sample Info:</span>
  <%=f.hidden_field(:sample_characteristic_id) %>
  <%=f.hidden_field(:patient_id)%>
  <%=f.hidden_field(:source_sample_id)%>
  <%=f.hidden_field(:source_barcode_key)%>
  
  <table class="form">
	<tr>
	  <th>Barcode</th><td><%=h f.object.barcode_key %><%=f.hidden_field(:barcode_key)%></td>	  
      <th>Date Created</th><td><%=f.calendar_date_select(:sample_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
	</tr>
	<tr>
	  <th>Amt Unit</th><td><%=f.collection_select(:amount_uom, @amount_uom, :c_value, :c_value)%></td>
	  <th>Initial Amt</th><td><%=f.text_field :amount_initial, :size => 10 %></td>
	  <th>Rem?</th><td><%=f.select(:sample_remaining, %w{Y N})%></td>
	</tr>
	<tr>
	  <th>Room/Freezer</th> <%= render :partial => 'shared/storage_select', :locals => {:f => f} %>
	  <th>Shelf</th><td><%=f.text_field :storage_shelf, :size => 12 %></td>
	  <th>Rack#/Bin</th><td><%=f.text_field :storage_boxbin, :size => 12 %></td> 
	</tr>
	<tr>
	  <th>Comments</th>
	  <td colspan=6><%=f.text_area :comments, :cols => 80, :rows => 2 %></td>
	</tr>
  </table>