<fieldset class="form">
<legend>Dissected Sample Info</legend>

  <%=f.hidden_field(:source_sample_id)%>
  <%=f.hidden_field(:barcode_key)%>
  <% tissue = (dissect.sample_tissue.nil? ? '[Unknown]' : dissect.sample_tissue) %>
  <% sample_site = [tissue, dissect.left_right].join(' - ') %>
  
  <table class="form">
	<tr>
	  <th>Barcode</th><td><%=h f.object.barcode_key %></td>
      <%=f.datepicker 'sample_date', dateFormat: "yy-mm-dd", maxDate: Time.current.to_date, changeMonth: true, changeYear: true, yearRange: "-10", size: 15, label: "Date Created" %>
	  <%=f.collection_select(:tumor_normal, @tumor_normal, :c_value, :c_value, :label => 'Tumor/Normal') %>
	</tr>
	<tr>
	  <th>Sample Site - L/R:</th>
      <td><%=h sample_site %></td>
      <th>Sample Type:</th>
	  <td><%=h dissect.sample_type %></td>
      <th>Preservation:</th>
	  <td><%=h dissect.tissue_preservation %></td>	  
	</tr>  
	<tr>
	  <%=f.collection_select(:sample_container, @sample_units, :c_value, :c_value, :label => 'Container')%>
	  <%=f.collection_select(:vial_type, @vial_types, :c_value, :c_value, {:include_blank => true}, :label => 'Vial Type')%>
	</tr>
	<tr>
	  <%=f.collection_select(:amount_uom, @amount_uom, :c_value, :c_value, :label => 'Amt Unit')%>
	  <%=f.text_field :amount_initial, :label => 'Initial Amt', :size => 10 %>
	  <%=f.select(:sample_remaining, %w{Y N}, :label => 'Rem?')%>
	</tr>
	<tr>
	  <%=f.text_area(:comments, :tdcolspan => "5", :cols => "80", :rows => "2" ) %>
	</tr>
  </table>
</fieldset>

<%= f.fields_for :sample_storage_container do |c| %>
  <%= render :partial => 'shared/storage_container', :locals => {:f => c, :barcode => f.object.barcode_key} %>
<% end %>