<h1>Editing dissected sample: <%=h @sample.barcode_key %></h1>

<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @sample.sample_characteristic,
                                                                              :patient => @sample.patient } %>

<%= render :partial => 'samples/sample_info', :locals => {:sample => @source_sample } %>

<% if @source_sample.histology %>
    <%= render :partial => 'histologies/histology_summary', :locals => {:histology => @source_sample.histology,
                                                                        :click_to_link => 'show'} %>
<% end %>

<%= tagged_form_for @sample, :url => {:controller => 'dissected_samples', :action => :update} do |f| %>
    <%= render '/shared/errors', model: @sample %>
  
  <%= render :partial => 'dsample_form', :locals => {:f => f, :dissect => @sample} %> 
  <%=raw break_clear(f.submit "Save") %>
<% end %>

<%= link_to 'Back', :back %>
