<h3>New dissection from sample: <%=h @source_sample.barcode_key %></h3>

<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @source_sample.sample_characteristic,
                                                                              :patient => @source_sample.patient } %>
																			  
<%= render :partial => 'samples/sample_info', :locals => {:sample => @source_sample,
                                                          :source => 'Source' } %>

<% tagged_form_for @sample, :url => {:controller => 'dissected_samples', :action => :create} do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'dsample_form', :locals => {:f => f, 
                                                     :sample_characteristic => @sample_characteristic,
                                                     :source_sample => @source_sample,
                                                     :sample => @sample } %> 
  
  <br />
  <table width="100%"><tr><td><%= f.submit "Save" %></td></tr></table>
<% end %>

