<fieldset class="form">
<legend>Publication Details</legend>
<table class="form">
  <tr><%= f.text_field :title_abbrev %></tr>
  <tr><%= f.text_field :title_full, :size => 80 %></tr>
  <tr><%= f.text_field :publication_name, :size => 80 %></tr>
  <tr><%= f.calendar_date_select(:date_published, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)  %></tr>
  <tr><%=f.text_field :comments, :size => 80 %></tr>
</table>
</fieldset>
<%= break_clear %>

<fieldset class="form">
<legend>Ji Lab Authors </legend>
<table class="form">
  <tr>
	<%= f.collection_select(:researcher_ids, @researchers, :id, :researcher_name, {:include_blank => 'Select ..'},
                                     {:size => 5, :multiple => :multiple, :label => 'Author(s)'}) %>
  </tr>
</table>
</fieldset>
<%= break_clear %>
