<fieldset class="form">
<legend>Publication Run/Lanes</legend>
<table class="form">
  <% flow_cell.flow_lanes.each do |flow_lane| %>
  <tr>
  	<td><%= check_box_tag(:check_box_id)%>
  	<td><%=h flow_lane.sequencing_key %></td>
	<td><%=h flow_lane.lane_nr %></td>
	<td><%=h flow_lane.lib_barcode %></td>
	<td><%=h flow_lane.lib_name %></td>
  </tr>
  <% end %>
</table>
</fieldset>
