<h1>Editing publication</h1>

<%= tagged_form_for(@publication) do |f| %>
  <%= render '/shared/errors', model: @publication %>

  <%= render :partial => 'publication_form', :locals => {:f => f} %>
  <%=raw break_clear %>
  
  <%= render :partial => 'publication_lanes', :locals => {:f => f, :flow_lanes => @publication.flow_lanes} %>
  <%=raw break_clear %>
  
  <div id='lane_entry'> 
  <span><b>Add lanes from run number:</b>&nbsp;<%= text_field_tag(:run_numbers, '', :size => 5)-%></span>
  <span class="linkbutton"><%= link_to_remote('Select Lanes', :update => 'lane_entry',
                     :with => "Form.Element.serialize('run_numbers')", 
                     :url => {:action => 'populate_lanes'}, :method => 'post') -%></span>
  </div> 
  <br/>
  <%= f.submit "Update" -%>
<% end %>


