<h1>New publication</h1>

<%= tagged_form_for(@publication) do |f| %>
  <%= render '/shared/errors', model: @publication %>

  <%= render :partial => 'publication_form', :locals => {:f => f} %>

  <div id='lane_entry'> 
  <span><b>Associate lanes from run number:</b>&nbsp;<%= text_field_tag(:run_numbers, '', :size => 5)-%></span>
  <span class="linkbutton"><%= link_to 'Select Lanes', pub_lanes_path, {:onclick => "this.href += '?run_numbers='+$('#run_numbers').val(); return true;", :remote => true} %></span>
  </div>

  <div id="run_error"></div>
  <%=raw break_clear %>
  <%= f.submit "Create" -%>&nbsp;&nbsp;<%= link_to 'List All Publications', publications_path %>
<% end %>

