<h3>Editing Molecular Assay: <%=h @molecular_assay.assay_descr %></h3>

<% form_for(@molecular_assay, :action => :update) do |f| %>
  <%= f.error_messages %>
  
  <fieldset class="form">
  <legend class="form">Molecular Assay</legend>
  <table class="form" border="0">
  <tr>
    <th>Prep Date:</th><td><%= f.calendar_date_select(:preparation_date, :size => 15) %></td>
    <th>Owner:</th><td><%= f.select(:owner, @owners)%></td> 
    <th>Protocol:</th><td><%= f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                                                 {:include_blank => 'Select Protocol'}) %></td>
  </tr>
  <tr> 
    <th>Size(Final PCR)</th><td><%= f.text_field(:pcr_size, :size => 12)%></td>
    <th>Quantitation:</th><td><%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value, {:include_blank => 'Select Method'}) %></td>
	<th>Notebook Ref:</th><td colspan="5"><%= f.text_field(:notebook_ref) %></td>	
  </tr>
  <tr>  
    <th>Notes:</th>
    <td colspan="5"><%= f.text_field(:notes, :size => 80) %></td>
  </tr>
  </table>
</fieldset> 
  
  <fieldset class="form">
  <legend>Sample details</legend>
  <table class="form-with-columns">
    <tr>
      <th>Sample Name</th>
      <th>Source DNA</th>
      <th>Notes</th>
    </tr>

    <% f.fields_for :lib_samples do |s| %>
      <tr>
      	<td><%= s.text_field(:sample_name) %></td>
		<td><%= s.text_field(:source_DNA) %></td>
		<td><%= s.text_field(:notes) %></td>
      </tr>
	<% end %>
  </table> 
  </fieldset>  

<%=break_clear(f.submit 'Update') %>        
<% end %>
