<h3>Molecular Assays <%= @hdg_qualifier %></h3>

<table class="list">
  <tr>
  	<th>Assay Barcode</th>
    <th>Descr</th>
	<th>Owner</th>
	<th>Prep Date</th>
	<th>PCR Size</th>
	<th>Quantitation</th>
    <th colspan="2"></th>
  </tr>

<% for molecular_assay in @molecular_assays %>
  <tr>
  	<td><%= link_to molecular_assay.barcode_key, molecular_assay %></td>
    <td><%=h molecular_assay.assay_descr %></td>
	<td><%=h molecular_assay.owner_abbrev %></td>
	<td><%=h molecular_assay.preparation_date %></td>
	<td><%=h molecular_assay.pcr_size %></td>
	<td><%=h molecular_assay.quantitation_method %></td>
	
	<% if can? :edit, molecular_assay %>
	  <td><%= link_to 'Edit',   edit_molecular_assay_path(molecular_assay) %></td>
	<% else %>
      <td class="ltgrey"> Edit </td>
    <% end %>
	
	<% if molecular_assay.lib_samples[0].seq_lib_id.nil? %>
	  <% if can? :delete, molecular_assay %>
	    <td><%= link_to 'Delete', molecular_assay, :confirm => 'Are you sure?', :method => :delete %></td>	  
      <% end %>
    <% else %>
      <td class="ltgrey"> Delete </td>
	<% end %>  
  </tr>
  <% end %>
</table>
