<h3>New Molecular Assay </h3>

<% form_tag(:action => :create) do %>
  
  <%= render :partial => 'assay_form' %>

  <% if @assay_with_error %><%= error_messages_for :molecular_assay, :object => @assay_with_error %><% end %>
  
  <% if @lib_samples.nil?%>
    <%= break_clear %> 
    <div id='assays'>	
    <b>Populate how many assays with these defaults?</b>&nbsp;<%= text_field_tag(:nr_assays, '', :size => 5)-%>
    <%= submit_to_remote 'MolAssay', 'Add Assays',
    :url => {:action => 'populate_assays'},
    :update => 'assays' -%>
    </div>      
  <% else %>
    <%= render :partial => 'assay_sample_form' %>
  <% end %>
<% end %>