<table id="s_loc">
<tr>
  <th>Container Type</th>
  <th>Container Name</th>
  <th>Position</th>
  <th>Freezer</th>
</tr>
  <%= sform.fields_for :sample_storage_containers, :wrapper => false do |cform| %>
      <tr class="fields">
        <td><%= cform.text_field :container_type, :size => 10 %></td>
        <td><%= cform.text_field :container_name, :size => 8 %></td>
        <td><%= cform.text_field :position_in_container, :size => 6 %></td>
        <td><%= cform.collection_select(:freezer_location_id, @freezer_locations, :id, :room_and_freezer) %></td>
        <td><%= cform.link_to_remove "Remove" %></td>
      </tr>
  <% end %>
</table>
<p><%= sform.link_to_add "Add Value", :sample_storage_containers, :data => { :target => "#s_loc" } %></p>
