<fieldset class="form">
<legend>Delete Runs from <%= @dev_name %></legend>
  <%= hidden_field_tag :device_name, @dev_name %>
  <table class="form-with-columns" cellspacing="2">
  <tr>
  	<th>Delete Status</th>
    <th>Delete</th>
    <th>Date</th>
    <th>Delete Date</th>
  	<th>Sequencing Run</th>
	<th>Date Sized</th>
    <th># Files</th>
    <th>Size (GB)</th>		
  </tr>
  <% @run_dirs.each do |dir| %>
  <!--% fields_for 'run_dir[]', dir do |d| %-->
  <tr>
  	<td align="center"><%= dir.delete_flag %></td>
    <td><%= check_box_tag("run_dir[#{dir.id}][delete_flag]", "Y")%></td>
    
    <script type="text/javascript">
    	load_del_date('<%= dir.id %>');         
    </script>	
    
    <td><%= calendar_date_select_tag("run_dir[#{dir.id}][date_deleted]", '', :id => "run_dir_#{dir.id}_date_deleted", :size => 10) %></td>
    <td><%= dir.date_deleted %></td>    
  	<td><%= link_to dir.flow_cell.sequencing_key, dir.flow_cell %></td>
	<td><%= dir.date_sized %></td>
    <td><%= dir.file_count %></td>
    <td><%= dir.total_size_gb %></td>		
  </tr>
  <% end %>
  <!--% end %-->
  </table>
</fieldset>
<%= break_clear %>