<b>Run Directories:</b>
<% if !flow_cell.run_dirs.empty? %>
  <table class="list">
    <tr>
      <th>Storage Device</th>
	  <th>Run Directory</th>
	  <th>Dir size (GB)</th>
	  <th># Files</th>
	  <th>Date Sized</th>
	  <th>Date Copied</th>
	  <th>Date Verified</th>
	</tr>
    
	<% flow_cell.run_dirs.each do |run_dir| %>
	  <tr>
        <td><%=h run_dir.device_name %></td>
		<td><%=h File.join(run_dir.storage_device.base_run_dir, flow_cell.sequencing_key) %></td>
		<td><%=h run_dir.total_size_gb %></td>
		<td><%=h run_dir.file_count %></td>
		<td><%=h run_dir.date_sized %></td>
		<td><%=h run_dir.date_copied %></td>
		<td><%=h run_dir.date_verified %></td>
		
		<td><%=link_to 'Edit',   edit_run_dir_path(run_dir) %></td>
	    <td><%=link_to 'Delete', run_dir, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
      <% end %>
	</table>
	
<% else %>
  <br/>NONE<br/><br/>
<% end %>