<h1>Delete Run Directory</h1>

<p></p>

<% form_tag(:action => :del_run_dir) do %>
  <%= collection_select(:storage_devices, :id, @storage_devices, :id, :device_name, 
      {:include_blank => 'Select Device'}) %>
  <%= submit_tag "Go" %>
<% end %>

<p></p>

<% if !@run_dirs.blank? %>
  <% form_tag :action => :debug do %>
    <%= render :partial => 'del_run_dir_form' %>
    <%= submit_tag 'Mark For Delete' %>
  <% end %>  
<% end %>

<%= link_to 'List All', run_dirs_path %>
