<h1>Sequencing Run:</h1>

<%= render :partial => 'flow_cells/flow_cell_show', :locals => {:flow_cell => @run_dir.flow_cell} %>

<%= tagged_form_for @run_dir do |f| -%>
  <%= error_messages_for :run_dir %>
  
  <%= render :partial => 'run_dir_form', :locals => {:f => f, :flow_cell => @run_dir.flow_cell} %>
  
  <%=raw break_clear(f.submit "Save") %>
<% end %>


