<h1>Sequencing Runs/Directories</h1>

<table class="list">
  <tr>
    <th>Sequencing Run</th>
	<th>Device Name</th>
	<th>Date Sized</th>
    <th># Files</th>
    <th>Size (GB)</th>
	<th>Date Copied</th>
	<th>Date Verified</th>
	<th colspan=3></th>
  </tr>

  <% @run_dirs.sort.reverse.each do |run_number, run_dirs| %>
  <% run_dirs.each do |run_dir| %>
  <tr>
    <td class="border_leftright_only"><%=h run_dir.flow_cell.sequencing_key %></td>
	<td class="border_leftright_only"><%=h run_dir.device_name %></td>
	<td class="border_leftright_only"><%=h run_dir.date_sized %></td>
    <td class="border_leftright_only"><%=h run_dir.file_count %></td>
    <td class="border_leftright_only"><%=h run_dir.total_size_gb %></td>
	<td class="border_leftright_only"><%=h run_dir.date_copied %></td>
	<td class="border_leftright_only"><%=h run_dir.date_verified %></td>
	<td class="border_leftright_only"><%= link_to 'New', new_run_dir_path(:flow_cell_id => run_dir.flow_cell_id) %></td>
    <td class="border_leftright_only"><%= link_to 'Edit', edit_run_dir_path(run_dir) %></td>
    <td class="border_leftright_only"><%= link_to 'Delete', run_dir, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
  <tr><td class="border_bottom_only" colspan="10"></td></tr>
<% end %>
</table>

<%= link_to 'Add run location', dir_params_path %>
