<h1>Sequencing Runs/Directories for <%= @device_name %></h1>

<table class="list">
  <tr>
    <th>Sequencing Run</th>
	<th>Date Sized</th>
    <th># Files</th>
    <th>Size (GB)</th>
	<th>Date Copied</th>
	<th>Date Verified</th>
	<th>Date Deleted</th>
  </tr>

  <% @run_dirs.sort.reverse.each do |sequencing_key, run_dirs| %>
  <% run_dirs.each do |run_dir| %>
  <% del_flag_yes = 1 if !run_dir.delete_flag.blank? %>
  <tr>
    <td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=link_to sequencing_key, run_dir.flow_cell %></td>
	<td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=h run_dir.date_sized %></td>
    <td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=h run_dir.file_count %></td>
    <td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=h run_dir.total_size_gb %></td>
	<td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=h run_dir.date_copied %></td>
	<td class="border_leftright_only <%= "strike" if del_flag_yes %>"><%=h run_dir.date_verified %></td>
	<td class="border_leftright_only"><%=h run_dir.date_deleted %></td>
  </tr>
  <% end %>
  <tr><td class="border_bottom_only" colspan="11"></td></tr>
  <% end %>
</table>

<%= link_to 'List All Run Dirs', run_dirs_path %> | <%= link_to 'Delete Run Dirs', del_run_dir_path %>
