<h1>Listing <%=h Pool.human_attribute_name(:pool_name)%>s</h1>

<table class="list">
  <tr>
    <th>Pool label</th>
	<th>Pool name</th>
    <th>Description</th>
	<th>Source Conc</th>
	<th>Notes</th>
  </tr>

<% for oligo_pool in @oligo_pools %>
  <tr>
  	<% if oligo_pool.total_oligos > 0 && !oligo_pool.primers.empty? %>
  	<td><%=link_to oligo_pool.tube_label, :action => 'show', :id => oligo_pool.id %></td>
	<% else %>
	<td><%=h oligo_pool.tube_label %></td>
	<% end %>
	<td><%=h oligo_pool.pool_name %></td>
    <td><%=h oligo_pool.pool_description %></td>
	<td><%=h oligo_pool.source_conc_um %></td>
	<td><%=h oligo_pool.notes %></td>
<% end %>
</table>