<h1><%=h Pool.human_attribute_name(:pool_name)%> Pool: <%=h @oligo_pool.pool_name %>(<%=h @oligo_pool.tube_label%>)</h1>

<table class="list">
  <tr>
    <th>Gene Code</th>
	<th>Primer Name</th>
	<th>Primer Sequence</th>
  </tr>

<% for primer in @oligo_pool.primers %>
  <tr>
	<td><%=h primer.gene_code %></td>
    <td><%=h primer.primer_name %></td>
	<td><%=h primer.primer_sequence %></td>
<% end %>
</table>