<%= error_messages_for :user %>
<% form_for(@user) do |f| -%>
<p><%= f.label :login %>
   <%= f.text_field :login %></p>

<p><%= f.label :email %>
<%= f.text_field :email %></p>

<% if can? :update, Role %>
<p><%= f.label :roles %>
<% for role in @roles do %>
    <% next if role.name == 'admin' && !current_user.has_role?("admin") %>
    <%= check_box_tag "user[role_ids][]", role.id, @user.has_role?(role.name,'admin_does_not_default') -%>
    <%= role.name %>
<% end %>
</p>
<% end %>

<div id="pswd_link">
<%= link_to_function "Change password", toggle_div(:chg_pswd, :pswd_link) %>
</div>

<div id="chg_pswd", style="display:none;"> 
<p><%= label :curr_user, :current_password %>
<%= password_field :curr_user, :current_password %></p>

<p><%= f.label :new_password %>
<%= f.password_field :password %></p>

<p><%= f.label :new_password_confirmation %>
<%= f.password_field :password_confirmation %></p>
</div>

<p><%= f.submit 'Update' %></p>
<% end -%>
