<h3>Edit User</h3>

<% tagged_form_for(@user) do |f| -%>
<%= error_messages_for :user %>

<fieldset class="form">
<legend>User Details</legend>

  <table class="form">
    <tr><%= f.text_field :login %></tr>  
    <tr><%= f.text_field :email %></tr>

  <% if can? :update, Role %>
    <tr><th><%= f.label :roles %></th>
    <td><% for role in @roles do %>
      <% next if role.name == 'admin' && !current_user.has_role?("admin") %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.has_role?(role.name,'admin_does_not_default') -%>
      <%= role.name %>
    <% end %></td></tr>
  <% end %>
  </table>
</fieldset>
<div class="clear"></div>

<div id="pswd_link">
  <%= link_to_function "Change password", toggle_div(:chg_pswd, :pswd_link) %>
</div>

<div id="chg_pswd", style="display:none;">
<fieldset class="form">
<legend>Change Password</legend>

  <table class="form">
    <tr>
      <th><%= label :curr_user, :current_password %></th>
      <td><%= password_field :curr_user, :current_password %></td>
	</tr>

    <tr><%= f.password_field :password, :label => 'New Password' %></tr>
    <tr><%= f.password_field :password_confirmation, :label => 'New Password Confirmation' %></tr>
  </table>
</fieldset>
<div class="clear"></div>
</div>

<p><%= f.submit 'Update' -%>&nbsp;&nbsp;<%=link_to 'Cancel', :controller => 'welcome', :action => 'index' %></p>
<% end -%>