<h1>New User</h1>

<%= tagged_form_for @user, :url => users_path do |f| -%>
<%= render '/shared/errors', model: @user %>

<fieldset class="form">
<legend>User Details</legend>

<table class="form">
  <tr><%= f.text_field :login %></tr>
  <tr><%= f.text_field :email %></tr>
  <tr><%= f.password_field :password %></tr>
  <tr><%= f.password_field :password_confirmation, :label => 'Confirm Password' %></tr>
</table>
</fieldset>
<br />

<%=raw break_clear(submit_tag 'Sign up') %>
<% end %>