<h3>File upload</h3>

<% form_for(:attached_file, @attached_file,
            :url => {:controller => 'prepared_samples', :action=> 'upload_file'},
            :html => {:multipart => true}) do |f| %>  
  <%= error_messages_for :attached_file %>
  <%= hidden_field_tag(:prepared_sample_id, @prepared_sample.id)%>
  
  <table class="form">
	<tr>
	  <td><%= f.upload_column_field :document, :size=>30%> </td>
	  <td><%= f.submit "Upload File" %></td> 
	</tr>
  </table>
 
<% end %>

<br />
<%= link_to 'Back', :back %>