<!-- info_flds array is an array of arrays.  Each inner array has the following fields -->
<!-- 'Field' or 'Link'        - Indicates whether value is a general field, or a href/link -->
<!--  Label                   - Value to be displayed as field label (can be nil) -->
<!--  Value                   - Field value -->
<!--  Controller, Action, ID  - If this is a link, specify controller/action to be performed when link is clicked -->

<!--  Links are assumed to always need to specify an id, which is passed in the link_id field -->
<!--  Controller name for link_to actions, is passed in the link_controller field -->
<% info_links ||= [] %>
<% last_info_box ||= 'no'%>

  <fieldset class="info">
    <legend><%= info_legend %></legend>
	<table class="info">
	  <% 0.step(info_flds.size-1, 2) do |i| %> 
	  <tr>	  	
	  <% for j in i..i+1 do %>       <!-- two field/label pairs per table row -->
	    <% break if !info_flds[j] %>  <!-- break out of loop if no second entry for last line -->
		
		<% fld = info_flds[j] %>
		<% if fld[0] == "Field" %>
		  <%= content_tag(:th, fld[1] + ':') %>
		  <%= content_tag(:td, fld[2], (fld.size == 4 && fld[3].is_a?(Hash) ? fld[3] : nil)) %>
		  
		<% elsif fld[0] == "Link" %>
		  <%= content_tag(:th, fld[1] + ':') %>
		  <%= content_tag(:td, (link_to fld[2], {:controller => fld[3][0], :action => fld[3][1], :id => fld[3][2]})) %>
		<% end %>  <!-- end if (fld[0]) -->
	  <% end %>  <!-- end do (j) -->
	  </tr>
	  <% end %>  <!-- end do (info_flds/i) -->
	  
	  <% if info_links && info_links.size > 0 %>
	    <tr>
	      <% info_links.each do |lnk| %>
		    <% div_options = {:class => "linkborder no-print"} %>
		    <% link_options = {:confirm => 'Are you sure', :method => :delete} if lnk[1] == 'destroy' %>
			<%= content_tag(:td, 
                  content_tag(:div, (link_to lnk[0], {:controller => link_controller, :action => lnk[1], :id => link_id}, link_options), div_options))%>
		  <% end %>
	    </tr>
	  <% end %> <!-- end if (info_links) -->
	  
	 </table>
  </fieldset>

<% if last_info_box == 'yes' %>  
  <%=raw break_clear %>
<% end %>
