<!-- info_flds array is an array of arrays.  Each inner array has the following fields -->
<!-- 'Field' or 'Link' - Indicates whether value is a general field, or a href/link -->
<!--  Label            - Value to be displayed as field label (can be nil) -->
<!--  Value            - Field value -->
<!--  Action           - If this is a link, specify action to be performed when link is clicked -->

<!--  Links are assumed to always need to specify an id, which is passed in the link_id field -->
<!--  Controller name for link_to actions, is passed in the link_controller field -->

<table><tr><td>
<div class="info">
  <fieldset>
    <legend><em><%= info_legend %></em></legend>
	<ol>
	  <% info_flds.each do |fld| %>
    
		<% if fld[0] == "Field" %>
		  <li>
      	    <label><%= fld[1] %><%=(fld[1].nil? ? ' ' : ':')%></label>
		    <div><%=h fld[2] %></div>
		  </li>
		  
		<% elsif fld[0] == "Link" %>
		  <li>
		  	<% if fld[1].nil? %>
		      <div style="text-align:right"><%=link_to fld[2], {:controller => link_controller, :action => fld[3], :id => link_id} %></div>
			<% else %>
			  <label><%= fld[1] %>:</label>
			  <div><%=link_to fld[2], {:controller => link_controller, :action => fld[3], :id => link_id} %></div>
			<% end %>
		  </li>
		<% end %>
		
	  <% end %>
	</ol>
  </fieldset>
</div> <!-- /info -->
</td></tr></table>