<fieldset class="form">
<legend>Storage Location</legend>
  <table class="form">
  	<tr><%= f.text_field :room_nr, :label => 'Room' %></tr>
	<tr><%= f.text_field :freezer_nr, :label => 'Freezer' %></tr>
    <tr><%= f.text_field :owner_name %></tr>
	<tr><%= f.text_field :owner_email %></tr>
	<tr><%= f.text_field :comments %></tr>
  </table>
</fieldset>
<div class="clear"></div>
