<table class="form">
  	<tr>
  	  <th><%= f.label :room %></th>
	  <td><%= f.text_field :room_nr %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :freezer %></th>
	  <td><%= f.text_field :freezer_nr %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :owner_name %></th>
	  <td><%= f.text_field :owner_name %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :owner_email %></th>
	  <td><%= f.text_field :owner_email %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :comments %></th>
	  <td><%= f.text_field :comments %></td>
  	</tr>
	
  </table>