<fieldset class="form">
<legend>Multiplex Library Details</legend>
<table class="form" border="0">
  <th>Barcode:</th><td><% if @seq_lib.new_record? || @seq_lib.dummy_barcode == false %><%= f.text_field :barcode_key, :size => 10 %>
        <% else %>&nbsp;<% end %></td>
  <th>Prep Date:</th><td><%= f.calendar_date_select(:preparation_date, :size => 15) %></td>
  <th>Owner:</th><td><%= f.select(:owner, @owners) %></td>
</tr>
<tr>
  <th>Lib Name:</th><td><%= f.text_field :lib_name, :size => 15 %></td>
  <th>Adapter:</th><td><%= f.collection_select(:runtype_adapter, @adapters, :c_value, :c_value) %></td>
  <th>Protocol:</th><td><%= f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                             {:include_blank => 'Select Protocol'}) %></td> 						  	  		
</tr>
<tr>
  <th>Quantitation:</th><td><%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value, 
                             {:include_blank => 'Select Method'}) %></td>							 	
  <th>Size(Final PCR)</th><td><%= f.text_field :pcr_size, :size => 12 %></td>
  <th>Sample Conc:</th><td><%= f.text_field :sample_conc, :size => 10 %>&nbsp;ng/ul </td>  
</tr>
<tr> 
  <th>Lib Conc(requested):</th><td><%= f.text_field :lib_conc_requested, :size => 10 %>&nbsp;pM</td> 
  <th>Align Ref:</th><td><%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key) %></td>
  <th>Trim Bases:</th><td><%= f.text_field :trim_bases, :size => 6 %></td> 
  				 								 								   
</tr>
<tr>
  <th>Project:</th><td><%= f.collection_select(:project, @projects, :c_value, :c_value,
                             {:include_blank => 'Select Project'}) %></td>	
  <th>Notebook Ref:</th><td colspan="3"><%= f.text_field :notebook_ref %></td>
</tr>
<tr>
  <th>Library Notes:</th><td colspan="5"><%= f.text_field :notes, :size => 80 %></td>
</tr>
</table> 
</fieldset>