<div id="lib_samples">
    <tr>
      <% if s.object.splex_lib %>
	    <td><%= s.text_field(:singleplex_lib, :size => 10) %></td>
	    <td><%=h s.object.splex_lib.lib_name %></td>
	  <% else %>
	    <td><%= s.text_field(:singleplex_lib, :size => 10) %></td>
		<td>&nbsp;</td>
	  <% end %>
	  <td><%=h s.object.adapter_name %></td>
      <td title="<%= s.object.tag_sequence %>"><%=h s.object.index1_tag_nr %>&nbsp;<%=h s.object.index2_tag_nr %></td>
	  <td><%=h (s.object.splex_lib_id.nil? ? s.object.seq_lib.oligo_pool : s.object.splex_lib.oligo_pool) %></td>
      <td><%=h s.object.sample_name %></td>
	  <td><%=h s.object.processed_sample.patient_id if s.object.processed_sample %>
	  <% if s.object.splex_lib %>
	    <td><%=h s.object.source_sample_name %></td>
	  <% else %>
        <td><%= s.text_field(:source_sample_name, :size => 10) %></td> 
	  <% end %>
	  <td><%= s.text_field(:notes, :size => 30)%></td>	               
    </tr>
</div>