<div id="lib_samples">
<% fields_for 'lib_samples[]', lib_sample do |s| %>	
    <tr>
      <td><%= s.check_box(:splex_lib_id, {}, seq_lib.id, nil) %></td>
      <td><%=h seq_lib.lib_barcode %></td>
	  <td><%=h seq_lib.lib_name %></td>
	  <td><%=h lib_sample.runtype_adapter %></td>
      <td><%=h lib_sample.index_tags %></td>
      <td><%=h lib_sample.sample_name %></td>
      <td><%=h lib_sample.source_sample_name %></td> 
	  <td><%=h lib_sample.enzyme_code %></td> 
	  <td><%= s.text_field(:notes, :size => 30)%></td>	               
    </tr>
    <% end %> <!--/lib_sample do -->
</div>