<h1>Editing Multiplex Sequencing Library</h1>

<%= form_for @seq_lib, :url => {:controller => 'mplex_libs', :action => :update}  do |f| %>
  <%= render '/shared/errors', model: @seq_lib %>
  <%= render :partial => 'lib_form', :locals => {:f => f} %> 
  <%=raw break_clear %>

<div>&nbsp;</div>
<fieldset class="form">
  <legend>Libraries/Samples</legend>
  <table class="form-with-columns">
  	<tr>
  	  <th>Lib Barcode</th>
	  <th>Lib Name</th>
  	  <th>Adapter</th>
      <th>Index Tag(s)</th>
	  <th>Pool</th>
      <th>Sample Name</th>
	  <th>Patient ID</th>
      <th>Source DNA/RNA</th>
	  <th>Sample Notes</th>
    </tr>

<%= f.fields_for :lib_samples do |s| %>
  <%= render '/shared/errors', model: s.object %>
  <tr><%= render :partial => 'sample_edit', :locals => {:s => s} %></tr>
  <% end %>
  
  </table>
</fieldset>  

<%=raw break_clear(f.submit "Update") %>
<% end %>
  
<%= link_to 'Back', :back %>