<h1>New Multiplex Sequencing Library</h1>

<% form_for @seq_lib, :url => 'create_mplex' do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'lib_form', :locals => {:f => f} %> 
  <%= break_clear %>

<div>&nbsp;</div>
<%= error_messages_for :lib_samples, :object => @seq_lib.lib_samples %>

<fieldset class="form">
<legend>Libraries/Samples</legend>
<table class="form-with-columns">
  <div class="lib_sample">
  	<tr>
  	  <td>&nbsp;</td>
  	  <th>Lib Barcode</th>
	  <th>Lib Name</th>
  	  <th>Adapter</th>
      <th>Tag/Seq</th>
      <th>Sample Name</th>
      <th>Source DNA/RNA</th>
	  <th>Enzyme(s)</th>
	  <th>Sample Notes</th>
    </tr>

    <% @lib_samples.each_with_index do |lib_sample, i| %>
      <tr><%= render :partial => 'sample_form', :locals => {:seq_lib => @singleplex_libs[i],
                                                            :lib_sample => lib_sample } %></tr>
	<% end %>
  </table>
</fieldset>  
<%= break_clear(f.submit "Create") %>
<% end %>
  
<%= link_to 'Back', :back %>