<h1>Listing Multiplex Library</h1>

<%= render :partial => 'seq_libs/lib_show', :locals => {:seq_lib => @seq_lib} %>
<%= break_clear %>

<%= render :partial => 'sample_show', :locals => {:lib_samples => @seq_lib.lib_samples} %>

<%= render :partial => 'attached_files/show_file', :locals => {:obj => @seq_lib} %>
<% break_clear %>

<span class="table_title">Sequencing Lanes 
  <% if @seq_lib.flow_lanes %> (<%= @seq_lib.flow_lanes.size %> lanes) <% end %></span>
  <table class="list">
  <tr>
    <th>Sequencing Run#</th>
    <th>Lane</th>
	<th>Lib Barcode</th>
	<th>Lib Name</th>
  </tr>
  <% for flow_lane in @seq_lib.flow_lanes %>
  <tr>
  	<td><%= link_to flow_lane.sequencing_key, flow_lane.flow_cell %></td>
    <td><%=h flow_lane.lane_nr %></td>
	<td><%=h flow_lane.lib_barcode %></td>
	<td><%=h flow_lane.lib_name %></td>
  </tr>
  <% end %>
</table>