<h1>Edit freezer location</h1>

<%= tagged_form_for(@freezer_location) do |f| %>
  <%= render '/shared/errors', model: @freezer_location %>

  <%= render :partial => 'freezer_loc_form', :locals => {:f => f} %>
    
  <%=raw break_clear(f.submit "Update") -%>&nbsp;&nbsp;<%= link_to 'Back', freezer_locations_path %>
<% end %>


