<% have_company_list ||= 'no' %>
<fieldset class="form">
 <legend>Order Details</legend>
    <table class="form">
      <tr>
      	<th>RPO/CWA:</th>
		<td><%= f.select(:rpo_or_cwa, %w{RPO CWA Other}, {:include_blank => true}) %></td>
      	<th>Company Name:</th>
		<% if have_company_list == 'yes' %>
      	<td><%= f.select(:company_name, @companies, {:include_blank => 'Select Company'}) %></td>
		<% else %>
		<td><%= f.text_field(:company_name, :size => 30) %></td>
		<% end %>
	  </tr>
	  <tr>
        <th>Order Date:</th>
        <td><%=f.datepicker 'date_ordered', dateFormat: "yy-mm-dd", maxDate: Time.current.to_date, changeMonth: true, changeYear: true, yearRange: "-1", size: 15 %></td>
		<th>Chemicals?</th>
		<td><%= f.select(:incl_chemicals, %w{Y N}, {:include_blank => true}) %></td>
	  </tr>
	  <tr>		
		<th>Requisition Number:</th>
		<td><%= f.text_field(:po_number, :size => 15) %></td>
		<th>Order Number:</th>
		<td><%= f.text_field(:order_number, :size => 15) %></td>
		<th>Recv'd?</th>
		<td><%= f.select(:order_received, %w{Y N P}, {:include_blank => true}) %></td>
	  </tr>
	  <tr>	
		<th>Notes:</th>
		<td colspan="5"><%= f.text_field(:notes, :size => 80) %></td>	
      </tr>	  
	</table>
  </fieldset> 