<table id="orderitems" class="form-with-columns-no-th-underline">
  <tr>
    <th>Date</th>
    <th>Requestor</th>
    <th>Company</th>
    <th>Catalog#</th>
    <th style="text-align:center;">Quantity</th>
    <th style="text-align:center">Chemical?</th>
    <th>Recv'd?</th>
  </tr>
  <%= f.fields_for :items, :wrapper => :false do |t| %>
  <tr class="fields">
	  <td><%=h format_date(t.object.created_at) %></td>
	  <td><%=h t.object.requester_name %></td>
	  <td><%=h t.object.company_name %></td>
	  <td><%=h t.object.catalog_nr %></td>
	  <td style="text-align:center"><%=h t.object.item_quantity %></td>
	  <td style="text-align:center"><%=h t.object.chemical_flag %></td>
	  <td><%=t.select(:item_received, %w{Y N}, {:include_blank => true}) %></td>
	</tr>
	<tr>
	  <th class="right"><b>Description:</b></th>
	  <td colspan=5 width="75%"><div class="wrap-line"><%=h t.object.item_description %></td></div>
    </tr>
  	<tr>
	  <th class="right"><b>Notes:</b></th>
	  <td colspan=5 width="75%"><%=h t.text_field :notes, :size => 75 %></td>
	</tr>
  <% end %>
</table>
