<h1>New order</h1>

<%= form_for(@order) do |f| %>
  <%= render '/shared/errors', model: @order %>

  <p>
    <%= f.label :order_date %><br />
    <%= f.date_select :date_ordered %>
  </p>
  <p>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label(:po_number, 'Requisition No') %><br />
    <%= f.text_field :po_number %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>
