<h1>Orders Query</h1>

<%= form_for @item_query, url: list_selected_path do |f| %>
<!--%= f.error_messages(:header_message => "Error(s) in query parameters") %-->
  <%= render '/shared/errors', model: @item_query, header_message: 'Error(s) in query parameters' %>

<fieldset class="form">
<legend>Select Parameters</legend>
<table class="form">
  <tr>
  	<th>Deliver Site</th>
	<td><%= f.select(:deliver_site, Item::DELIVER_SITES, {:include_blank => 'All'}) %></td>
  </tr>
  <tr>
	<th>Entered From:</th>
	<td><%= f.datepicker 'from_date', size: 15, dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true %></td>
	<td>&nbsp;&nbsp;</td>
  	<th>To:</th>
	<td><%= f.datepicker 'to_date', size: 15, dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true %></td>
  </tr>
</table>
</fieldset>
<%=raw break_clear %>

<%= submit_tag "Submit" %>
<%end%>