<% fform ||= 'no' %>

<table class="list">
  <tr>
	<th>Sequencing Key</th>
	<th>Pub?</th>
	<th># Bases: R1,I1,I2,R2</th>
	<th>Run Description/Notes</th>
    <th colspan="5"></th>
  </tr>

  <% @flow_cells.each do |flow_cell| %>
  <tr>
    <% if fform == 'yes' %><%= hidden_field_tag("export_id[]", flow_cell.id) %><% end %>

	<td><%=h flow_cell.seq_run_key %></td>
	<td style="text-align:center"><%= link_to flow_cell.for_publication?, :action => 'show_publications', :controller => 'flow_cells', :id => flow_cell.id %></td>
	<td><%=h flow_cell.nr_bases_read1 %>, <%=h flow_cell.nr_bases_index1 %>, <%=h flow_cell.nr_bases_index2 %>, <%=h flow_cell.nr_bases_read2 %> </td>
	<td>
	  <% notes_brk = 'no'%>
	  <% if !flow_cell.run_description.blank? %><%=h flow_cell.run_description %><% notes_brk = 'yes' %><% end %>
	  <% if !flow_cell.hiseq_xref.blank? %>
	    <% if notes_brk == 'yes' %><br/><% end %>
	    <i><strong>Alt Run#:</strong><%=h flow_cell.hiseq_xref %></i><% notes_brk='yes' %><% end %>
	  <% if !flow_cell.notes.blank?%>
	    <% if notes_brk == 'yes'%><br/><% end %>
		<i><strong>Notes:</strong>&nbsp;&nbsp;<%=h flow_cell.notes %></i>
	  <% end %>
	</td>
	<% show_desc = (flow_cell.flowcell_status == 'F' ? 'Show/Seq' : 'Show') %>
	<td><%= link_to show_desc, flow_cell %></td>
	
	<td><%= link_to 'Attach', new_attached_file_path(:rec_type => 'flow_cell', :obj_id => flow_cell.id) %></td>
	
	<% if (flow_cell.flowcell_status == 'F') || (can? :edit, flow_cell) %>  
	  <td><%= link_to 'Edit', edit_flow_cell_path(flow_cell) %></td>
	<% else %>
      <td class="ltgrey">Edit</td>
	<% end %>
	
	<% if flow_cell.flowcell_status == 'F' %>
	  <% if can? :delete, flow_cell %>  
	    <td><%= link_to 'Delete', flow_cell, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% else %>
		<td class="ltgrey">Delete</td>
	  <% end %>
	<% end %>
	  
	<% if flow_cell.flowcell_status == 'Q' %>
	  <td><%= link_to 'QC',   :controller => 'flow_cells',  :action => 'show_qc', :id => flow_cell.id %></td>
    <% else %>
	  <td class="grey"><%= flow_cell.flowcell_qc %></td>
	<% end %>
  </tr>
  
  <% end %>
</table>