<div class="flow_lane">
  <% new_or_existing = flow_lane.new_record? ? 'new' : 'existing' %>
  <% prefix = "flow_cell[#{new_or_existing}_lane_attributes][]" %>
  
  <% fields_for prefix, flow_lane do |n| %>
    <td><%= n.text_field(:lane_nr, :size => 5) %></td>
	<td><%= n.text_field(:lib_conc, :size => 5) %>pM</td>
	<td><%=h flow_lane.lib_barcode %></td>
	<td><%=h flow_lane.lib_name %></td>
	<td><%=h flow_lane.runtype_adapter %></td>
	<td><%=h flow_lane.alignment_ref %></td>
	<td><%=h flow_lane.seq_lib.owner_abbrev %></td>	
	<td><%= n.text_field(:notes) %></td>	
  <% end %>
</div>
