<fieldset class="form">
  <legend>Flowcell Parameters</legend>
  <table border="0" class="form">  		  
  	</tr>
	<tr>
	  <th>Date:</th><td><%= f.calendar_date_select(:flowcell_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
      <th>Partial Flowcell?</th>
      <td align="left">
	  <% if controller.action_name == 'new' %>
	    <%= select_tag :partial_flowcell, options_for_select(%w{N Y}, selected_value=@partial_flowcell) %>
	  <% else %>
	    <%=h @partial_flowcell %><%= hidden_field_tag :partial_flowcell, @partial_flowcell %>
	  <% end %>
	  </td>
	  <% if controller.action_name != 'new' && (can? :new, AlignmentRef) %>
        <th>Status:</th><td><%= f.select(:flowcell_status, FlowCell::STATUS) %></td>
      <% end %>
    </tr>
	<tr>
	  <th>Number of Bases:</th>
	  <th>Read 1: <%= f.text_field :nr_bases_read1, :size => 8 %></th>
      <th>Index: <%= f.text_field :nr_bases_index, :size => 8 %></th>
      <th>Read 2: <%= f.text_field :nr_bases_read2, :size => 8 %></th>
	</tr>
    <tr>
      <th>Kit Versions:</th>
	  <th>Cluster Kit: <%= f.collection_select(:cluster_kit, @cluster_kits, :c_value, :c_value)%></th>
      <th>Sequencing Kit: <%= f.collection_select(:sequencing_kit, @seq_kits, :c_value, :c_value)%></th>	    	  
	</tr>
	<% if controller.action_name != 'new' && (can? :new, AlignmentRef) %>
	<tr>
	  <th>Alt Run#:</th><td colspan="2"><%= f.text_field(:hiseq_xref, :size => 30)%></td>  
	</tr>
    <% end %>
	<tr>
	  <th style="text-align:right;text-decoration:none;">Notes:</th>
	  <td colspan=4><%= f.text_field(:notes, :size => 60) %></td>
	</tr>
  </table>
  </fieldset>

