<div class="flow_lane">
  <% prefix = "flow_cell[existing_lane_attributes][]" %>
  
  <%= fields_for prefix, flow_lane do |n| %>
    <td><%= n.text_field(:lane_nr, :size => 5) %></td>
	<td><%= n.text_field(:lib_conc, :size => 5) %>pM</td>
	<td><%=h flow_lane.lib_barcode %></td>
	<td><%=h flow_lane.lib_name %></td>
	<td><%=h flow_lane.runtype_adapter %></td>
	<td><%=h flow_lane.alignment_ref %></td>
	<td><%=h flow_lane.seq_lib.owner_abbrev %></td>
	
	<% if Pool::USING_POOLS %>
	  <% if flow_lane.seq_lib.oligo_pool.blank? && !flow_lane.seq_lib.control_lane? %>	
	  <td><%=n.collection_select(:pool_id, @oligo_pools, :id, :pool_string, {:include_blank => 'Select..'}) %></td>
	  <% else %>
	  <td><%=n.text_field(:oligo_pool, {:value => flow_lane.seq_lib.oligo_pool, :size => 10, :readonly => true, :style => "background-color:#ddd"}) %>
	  <% end %>
	  
	<% else %>
	  <td><%=n.collection_select(:oligo_pool, @projects, :c_value, :c_value, {:include_blank => 'Select..'})%></td>
	<% end %>
		
	<td><%= n.text_field(:notes) %></td>	
  <% end %>
</div>
