<div class="flow_lane">
  <% prefix = "flow_lane[]" %>
  <%= fields_for prefix, flow_lane do |n| %>
	
    <td><%= n.text_field(:lane_nr, :size => 4) %></td>
	<td><%= n.text_field(:lib_conc, :size => 4) %>pM</td>
	
	<% if Pool::USING_POOLS %>
	  <% if flow_lane.seq_lib.oligo_pool.blank? && !flow_lane.seq_lib.control_lane? %>		
	  <td><%=n.collection_select(:pool_id, @oligo_pools, :id, :pool_string, {:include_blank => 'Select..'}) %></td>
	  <% else %>
	  <%= n.hidden_field(:pool_id, :value => seq_lib.pool_id) %>
	  <td class="ltgrey"><%=n.text_field(:oligo_pool, {:value => seq_lib.oligo_pool, :size => 10, :readonly => true, :style => "background-color:#ddd"}) %>  
	  <% end %>
	
	<% else %>
	  <td><%=n.collection_select(:oligo_pool, @projects, :c_value, :c_value, {:include_blank => 'Select..'})%></td>
	<% end %>
	
    <td><%=h seq_lib.lib_barcode %></td>
	<td><%=h seq_lib.lib_name %></td>
	<td><%=h seq_lib.owner_abbrev %></td>
	<td><%=h seq_lib.preparation_date %></td>
	<td style="text-align:center"><%=h seq_lib.library_type %></td>
	<td><%=h seq_lib.adapter_name %></td>
	<td><%=h seq_lib.alignment_ref %></td>
	<td><%=h format_conc(seq_lib.sample_conc_ngul)%> ng/ul</td>
    <td><%=h format_conc(seq_lib.sample_conc_nm)%> nM</td>	
	<td><%=n.text_field(:notes) %></td>
	
    <%= n.hidden_field(:sequencing_key, :value => @flow_cell.sequencing_key) %>
    <%= n.hidden_field(:seq_lib_id,   :value => seq_lib.id) %>
	<%= n.hidden_field(:lib_barcode,  :value => seq_lib.lib_barcode) %>
	<%= n.hidden_field(:lib_name,     :value => seq_lib.lib_name) %>
	<%= n.hidden_field(:lib_conc_uom, :value => 'pM') %>
	<%= n.hidden_field(:adapter_id,   :value => seq_lib.adapter_id) %>
	<%= n.hidden_field(:alignment_ref_id, :value => seq_lib.alignment_ref_id) %>
	<%= n.hidden_field(:alignment_ref,    :value => seq_lib.alignment_ref) %>
		
  <% end %>
</div>
