<table class="list">
  <tr>
  	<th colspan=5>&nbsp;</th>
	<th colspan=6>PF:</th>
	<th colspan=7>Matches:</th>
	<th colspan=2>&nbsp;</th>
  </tr>
  <tr>
  	<th>Ln</th>
	<th>Barcode</th>
  	<th>Lib Name</th>
	<th>Yield(kb)</th>
	<th>Clusters</th>
	<th>Clusters</th>
	<th>Cycle1</th>
	<th>Cycle20</th>
	<th>Align</th>
	<th>Score</th>
	<th>Error</th>
	<th>NM</th>
	<th>QC</th>
	<th>RX</th>
	<th>U0</th>
	<th>U1</th>
	<th>U2</th>
	<th>UM</th>
	<th>Non-unique</th>
	<th>Unique</th>
  </tr>
  <% for flow_lane in @flow_cell.flow_lanes %>
    <tr>
	  <td><%=h flow_lane.lane_nr %></td>
	  <td><%=h flow_lane.lib_barcode %></td>
      <td><%=h flow_lane.lib_name %></td>
	  <% if flow_lane.align_qc %>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.lane_yield,   :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.clusters_raw, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.clusters_pf,  :delimiter => ',') %>
	                    <%=h pct_with_parens(flow_lane.align_qc.pct_pf_clusters) %></td>
	  <td align="right"><%=h flow_lane.align_qc.cycle1_intensity_pf %></td>
	  <td align="right"><%=h flow_lane.align_qc.cycle20_intensity_pct_pf %>%</td>
	  <td align="right"><%=h number_with_precision(flow_lane.align_qc.pct_align_pf,      :precision => 2) %>%</td>
	  <td align="right"><%=h number_with_precision(flow_lane.align_qc.align_score_pf,    :precision => 2) %></td>
	  <td align="right"><%=h number_with_precision(flow_lane.align_qc.pct_error_rate_pf, :precision => 2) %>%</td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_NM, :delimiter => ',') %></td>
      <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_QC, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_RX, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_U0, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_U1, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_U2, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_UM, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_nonuniques, :delimiter => ',') %></td>
	  <td align="right"><%=h number_with_delimiter(flow_lane.align_qc.nr_uniques, :delimiter => ',') %></td>
	  <% end %>
    </tr>
  <% end %>
</table>