<h1>Editing <%=h @flow_cell.id_name %></h1>
<p class="notes">Note: Changes to lane number are limited to switching lanes - cannot add or delete sequencing libraries/lane
   once flow cell has been created. </p>

<%= form_for(@flow_cell) do |f| %>
  <%= render '/shared/errors', model: @flow_cell %>
  
  <%= render :partial => 'flow_cell_form', :locals => {:f => f}%> 
  <%= hidden_field_tag(:lane_count, @flow_cell.flow_lanes.size)%>
  <%=raw break_clear %>

<fieldset class="form">
  <table class="form-with-columns">
    <tr>
      <th>Lane</th>
	  <th>Lib Conc</th>
	  <th>Lib Barcode</th>
	  <th>Lib name</th>
	  <th>Run type/Adapter</th>
	  <th>Alignment Ref</th>
	  <th>Owner</th>
	  <th><%=h Pool.human_attribute_name(:pool_name)%></th>
	  <th>Notes</th>
    </tr>

    <% @flow_cell.flow_lanes.each do |flow_lane| %>
      <tr><%= render :partial => 'flow_lane_edit', :locals => {:flow_lane => flow_lane} %></tr>
	<% end %>
  </table>
</fieldset> 
<%=raw break_clear(f.submit "Update") %>
<% end %>