<h1>New Flow Cell</h1>

<% form_for(@flow_cell) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'flow_cell_form', :locals => {:f => f} %>
  
<%= break_clear('<div class="notes">Note: to assign a sequencing library to multiple lanes, separate the lane numbers with commas (eg. 1,2)</div>') %>
<fieldset class="form">
  <legend>Lanes</legend>
  <table class="form-with-columns">
    <tr>
      <th>Lane</th>
	  <th>Lib Conc</th>
	  <th>Lib Barcode</th>
      <th>Library Name</th>
	  <th>Owner</th>
	  <th>Prep Date</th>
	  <th>M/S</th>
	  <th>Adapter</th>
	  <th>Alignment Ref</th>
	  <th colspan=2>Sample Conc</th>
	  <th>Project</th>
	  <th>Notes</th>
    </tr>

    <% @flow_lanes.each_with_index do |flow_lane, i| %>
      <tr><%= render :partial => 'flow_lane_form', :locals => {:seq_lib => @seq_libs[i],
                                                               :flow_lane => flow_lane } %></tr>
	<% end %>
  </table>
</fieldset>  
<%= break_clear(f.submit "Create") %>
<% end %>
  
<%= link_to 'Back', :back %>