<h1>Prepare Flow Cell</h1>

<% form_tag :action=> 'new'  do %>
<fieldset class="form">
	<legend>Sequencing Library Parameters</legend>
<table class="form">
  <tr>
    <th>Owner(s):</th>
    <td><%= select(:seq_lib, :owner, @owners,
                  {:include_blank => '(All)'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>  
  <tr>
    <th>Exclude used libraries?</th>
    <td><%= check_box_tag(:excl_used, 'Y', true)%></td>
  </tr> 
  <tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
  	<th>Prepared from:</th>
	<td><%=calendar_date_select_tag(:from_date, @from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
	<td>&nbsp;&nbsp;</td>
  	<th>To:</th>
	<td><%=calendar_date_select_tag(:to_date, @to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
  </tr>	
</table>
</fieldset>
<%= break_clear(submit_tag "Submit")%>
<%end%>


