<h3>Sequencing Run - Alignment/QC Results</h3>

<table class="list">
  <tr>
  	<th colspan=2>&nbsp;</th>
	<th colspan=3>Number of Bases</th>
	<th colspan=2>Kit Versions</th>
  <tr>
  	<th>Sequencing key</th>
	<th>Date</th>
	<th>Read 1</th>
	<th>Index</th>
	<th>Read 2</th>
	<th>Cluster</th>
	<th>Sequencing</th>
  </tr>
  <tr>
  	<td><%=h @flow_cell.sequencing_key %></td>
	<td><%=h @flow_cell.sequencing_date %></td>
	<td><%=h @flow_cell.nr_bases_read1 %></td>
	<td><%=h @flow_cell.nr_bases_index %></td>
	<td><%=h @flow_cell.nr_bases_read2 %></td>
	<td><%=h @flow_cell.cluster_kit %></td>
	<td><%=h @flow_cell.sequencing_kit %></td>
  </tr>
</table>

<% if @flow_cell.sequencer_type == 'H' %>
  <%= render :partial => 'hiseq_alignqc' %>
<% else %>
  <%= render :partial => 'ga2_alignqc' %>
<% end %>
