<span class="form_title">Diagnosis/Pathology</span>
<table class="form">
  <tr>
  	<th>Rpt Date</th>
	<td><%=f.calendar_date_select(:pathology_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
	<th>Pathology</th>
	<td><%=f.collection_select(:general_pathology, @hpathology, :c_value, :c_value,
                              {:include_blank => 'Select ..'})%></td>
	<th>Classification</th>
	<td><%=f.collection_select(:pathology_classification, @pathology_dx, :c_value, :c_value,
                              {:include_blank => 'Select ..'})%></td>
  </tr>
  <tr>
	<th>XRT?</th>
	<td><%=f.select(:xrt_flag, %w{Y N}, :include_blank => true)%></td>
	<th>T <%=f.collection_select(:t_code, @tumor_T, :c_value, :c_value,
                              {:include_blank => 'Select..'})%></th>
	<th>N <%=f.collection_select(:n_code, @tumor_N, :c_value, :c_value,
                              {:include_blank => 'Select..'})%></th>
	<th>M <%=f.collection_select(:m_code, @tumor_M, :c_value, :c_value,
                              {:include_blank => 'Select..'})%></th>
	<th>Stage <%=f.collection_select(:tumor_stage, @tumor_stage, :c_value, :c_value,
                              {:include_blank => 'Select..'})%></th>
  </tr>
  <tr>
  	<th>Comments:</th>
	<td colspan=7><%=f.text_area :comments, :cols => 80, :rows => 2 %></td>
  </tr>
</table>