<h1>Editing Pathology Report for Patient: <%= @pathology.patient_id %></h1>

<%= render :partial => 'patients/patient_info',  :locals => {:patient => @pathology.patient} %>

<%= tagged_form_for(@pathology) do |f| %>
  <%= render '/shared/errors', model: @pathology %>

  <%= render :partial => 'pathology_form', :locals => {:f => f} %>
  
  <%= render :partial => 'clinical_dtls', :locals => {:sample_characteristics => @pathology.sample_characteristics} %>
  
  <%= f.submit "Update" %>
<% end %>
