<h3>Editing Pathology Report for Patient: <%= @pathology.patient_id %></h3>

<%= render :partial => 'patients/patient_info',  :locals => {:patient => @pathology.patient} %>

<% form_for(@pathology) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'pathology_form', :locals => {:f => f} %>
  
  <%= render :partial => 'clinical_info', :locals => {:sample_characteristics => @pathology.sample_characteristics} %>
  
  <%= f.submit "Update" %>
<% end %>
