<h3>Listing Pathologies/Sample Characteristics 
    <% if @patient_id %> for Patient: <%= @patient_id %><% end %></h3>

<% for pathology in @pathologies %>
<%= render :partial => 'pathology_info', :locals => {:pathology => pathology, 
                                                     :incl_links => 'yes',
                                                     :last_info_box => 'yes'} %>
						
<%= render :partial => 'clinical_dtls', :locals => {:sample_characteristics => pathology.sample_characteristics} %>
<div style="width:100%; border-bottom:1px solid #999; margin-bottom:1em;"></div>
<% end %>

<% if @sample_characteristics.size > 0 %>
  <span class="table_title">Diagnosis/Pathology: </span>
  <table class="info">
  	<tr>
  	  <td>None</td>
	  <td class="linkborder"><%= link_to 'Add New', new_pathology_path(:patient_id => @patient_id, :add_new => 'yes') %></td>
  	</tr>	
  </table> 
  <%= render :partial => 'clinical_dtls', :locals => {:sample_characteristics => @sample_characteristics} %>
<% end %>