<h1>New Pathology Report for Patient: <%= @patient_id %> </h1>

<%= render :partial => 'patients/patient_info',  :locals => {:patient => @sample_characteristics[0].patient} %>
  
<%= tagged_form_for(@pathology, :action => 'create') do |f| %>
						
<%= render :partial => 'pathology_form', :locals => {:f => f} %>
<%=f.hidden_field(:patient_id, :value => @patient_id) %>

<p class="instructions">Check boxes below to associate pathology with specified patient/collection dates (at least one box must be checked)</p>						
<%= render :partial => 'clinical_dtls', :locals => {:sample_characteristics => @sample_characteristics,
                                                    :checkbox => 'yes'} %>

<%= submit_tag 'Save' %>
<% end %>
