<h1>Pathology Report for Patient: <%= @pathology.patient_id %>, Rpt Date: <%= @pathology.pathology_date %></h1>

<%= render :partial => 'patients/patient_info',  :locals => {:patient => @pathology.patient,
                                                             :click_to_link => 'show'} %>
  
<%= render :partial => 'pathology_info', :locals => {:pathology => @pathology,
                                                     :click_to_link => 'none',
                                                     :last_info_box => 'yes'} %>
													 
<%= render :partial => 'clinical_dtls', :locals => {:sample_characteristics => @pathology.sample_characteristics,
                                                    :click_to_link => 'none'} %>
													
<%= render :partial => 'attached_files/show_file', :locals => {:obj => @pathology} %>

													