<h1>Listing Sample Characteristics - For New Pathology Report</h1>

<%= render :partial => 'patients/patient_info',  :locals => {:patient => @sample_characteristics[0].patient} %>
  
<span class="table_title">Sample Collection/Characteristics:</span>
<table class="form01">
  <tr>
  	<th></th>
    <th>Collection Date</th>
	<th>Clinic</th>
	<th>Protocol</th>
	<th>Barcodes</th>
  </tr>
  
<% form_for :pathology, @pathology,
                        :url => {:action => 'create'} do |f| %>
						
<% for sample_characteristic in @sample_characteristics %>
  <% barcodes = sample_characteristic.samples.collect(&:barcode_key)%>
  <% barcode_string = barcodes.join(", ")%>
  <tr>
  	<td><%=check_box_tag("sample_characteristic_id[]", sample_characteristic.id) %></td>
	<td><%=h sample_characteristic.collection_date%></td>
	<td><%=h sample_characteristic.clinic_or_location%></td>
	<td><%=h sample_characteristic.consent_nr %>
	    <% if sample_characteristic.consent_protocol %>/<%=h sample_characteristic.consent_protocol.consent_abbrev%><% end %></td>
	<td><%=h barcode_string %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'pathology_form', :locals => {:f => f} %>
<%=f.hidden_field(:patient_id, :value => @sample_characteristics[0].patient_id) %>

<%= submit_tag 'Submit' %>
<% end %>
