<fieldset class="form">
<legend>Sequencing Library</legend>
<table class="form">
<tr>
  <th>Barcode</th><td><% if @seq_lib.dummy_barcode == false %><%= f.text_field :barcode_key, :size => 10 %><% else %><%=h @seq_lib.lib_barcode %><% end %></td>
  <th>Lib Name</th><td><%= f.text_field :lib_name, :size => 25 %></td>
  <th>Adapter</th>
  <td><%= f.collection_select(:adapter_id, @adapters, :id, :runtype_adapter, {},
                              {:data => {:remote => true, :url => url_for(:action => 'get_adapter_info', :nested => 'yes', :row => 0)}}) %></td>
</tr>
<tr>
  <th>Prep Date</th><td><%= f.datepicker 'preparation_date', dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true, size: 15 %></td>
  <th>Owner</th><td><%= f.select(:owner, @owners, :include_blank => "Select..") %></td>
  <th>Protocol</th><td><%= f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                             {:include_blank => 'Select Protocol'}) %></td>
</tr>
<tr>
  <th>Size(Final PCR)</th><td><%= f.text_field(:pcr_size, :size => 6) %></td>
  <th>Quantitation</th><td><%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value, 
                           {:include_blank => 'Select Method'}) %></td>
  <th>Sample Conc</th><td><%= f.text_field(:sample_conc, :value => format_conc(@seq_lib.sample_conc, nil), :size => 6)%>
      <% if @seq_lib.dummy_barcode == false %><%= f.select(:sample_conc_uom, SeqLib::SAMPLE_CONC) %><% else %> nM <% end %></td>
</tr>
<tr>
  <th>Lib Conc</th><td><%= f.text_field(:lib_conc_requested, :value => format_conc(@seq_lib.lib_conc_requested, nil), :size => 6) %>&nbsp;pM</td>
  <th>Align Ref</th><td><%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key) %></td>
  <th>Trim Bases</th><td><%= f.text_field(:trim_bases, :size => 6) %></td>
</tr>
<tr> 
  <th>Notebook Ref</th><td><%= f.text_field :notebook_ref %></td>
  <th><%=h Pool.human_attribute_name(:pool_name)%>:</th><td><%= f.collection_select(:pool_id, @oligo_pools, :id, :pool_string_dtl,
                             {:include_blank => 'Select Pool'}) %></td>
  <th>Project</th><td><%= f.text_field :project %></td>
</tr> 
<tr>
  <th>Notes: </th><td colspan=4><%= f.text_field :notes, :size => 80 %></td>
</tr>
</table> 
</fieldset>