<table class="info01">
  <tr>
  	<th>Lib Barcode</th>
	<td><%= link_to seq_lib.lib_barcode, edit_seq_lib_path(seq_lib) %></td> 
	<th>Protocol</th>
	<td><%=h @protocol.protocol_name if @protocol %></td>	
	<th>Adapter</th>
	<td><%=h seq_lib.runtype_adapter %></td>
	<th>Project</th>
	<td><%=h seq_lib.target_pool %></td>
    <th>Enzyme</th>
	<td><%=h seq_lib.enzyme_code %></td>		
  </tr>
  <tr>
  	<th>Library Name</th>
	<td><%=h seq_lib.lib_name %></td>	
    <th>Quantitation</th>
	<td><%=h seq_lib.quantitation_method %></td>
	<th>Lib Conc</th>
	<td><%=h seq_lib.lib_conc_requested %> pM</td>
	<td colspan="4"></td>
  </tr>
  <tr>
  	<th>Owner</th>
	<td><%=h seq_lib.owner_abbrev %></td>  	
    <th>Size(Final PCR)</th>
	<td><%=h seq_lib.pcr_size %></td> 
    <th>Align Ref</th>
	<td><%=h seq_lib.alignment_ref %></td>
	<th>Notebook Ref</th>
	<td colspan="3"><%=h seq_lib.notebook_ref %></td>
  </tr>
  <tr>
  	<th>Preparation date</th>
	<td><%=h seq_lib.preparation_date %></td>
	 <th>Sample Conc</th>
	<td><%=h number_with_precision(seq_lib.sample_conc, :precision => 2) %>
	    <%=h seq_lib.sample_conc_uom %></td>
	<th>Trim Bases</th>
	<td><%=h seq_lib.trim_bases %></td>
	<th>Notes</th>
	<td colspan="3"><%=h seq_lib.notes %></td>
  </tr>
</table>
