<fieldset class="form">
<legend class="form">Library defaults</legend>
<table class="form" border="0">
<tr>
  <th>Prep Date:</th><td><%= calendar_date_select_tag("lib_default[preparation_date]", Date.today, :size => 15) %></td>
  <th>Owner:</th><td><%= select_tag("lib_default[owner]", options_for_select(@owners, @requester))%></td> 
  <th>Protocol:</th><td><%= collection_select(:lib_default, :protocol_id, @protocols, :id, :protocol_name,
                           {:include_blank => 'Select Protocol'}) %></td>
</tr>
<tr> 
  <th>Adapter:</th><td><%= collection_select(:lib_default, :runtype_adapter, @adapters, :c_value, :c_value) %></td> 
  <th>Project:</th><td><%= collection_select(:lib_default, :project, @projects, :c_value, :c_value,
                           {:include_blank => 'Select Project'}) %></td>
  <th>Enzyme:</th><td><%= collection_select(:sample_default, :enzyme_code, @enzymes, :c_value, :c_value, 
                           {:include_blank => 'Select Enzyme'}, {:size => 3, :multiple => :multiple}) %></td>
</tr>
<tr> 
  <th>Source DNA/RNA:</th><td><%= text_field_with_auto_complete :sample_default, :source_DNA, {:size => 12},
              {:url => {:controller => :processed_samples, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 2, :method => :get} %></td>
  <th>Quantitation:</th><td><%= collection_select(:lib_default, :quantitation_method, @quantitation, :c_value, :c_value, {:include_blank => 'Select Method'}) %></td>
  <th>Size(Final PCR)</th><td><%= text_field(:lib_default, :pcr_size, :size => 12)%></td>	
</tr>
<tr>
  <th>Library conc:</th><td><%= text_field(:lib_default, :lib_conc_requested, :size => 10) %>&nbsp;pM</td>
  <th>Align Ref:</th> <td><%= collection_select(:lib_default, :alignment_ref_id, @align_refs, :id, :alignment_key) %></td> 
  <th>Trim Bases:</th><td><%= text_field(:lib_default, :trim_bases, :size => 10) %></td>	
</tr>
<tr>
  <th>Notebook Ref:</th>
  <td colspan="5"><%= text_field(:lib_default, :notebook_ref) %></td>
</tr>
<tr>  
  <th>Notes:</th>
  <td colspan="5"><%= text_field(:lib_default, :notes, :size => 80) %></td>
</tr>
</table>
</fieldset>