<div id='libs_form'>
<%= submit_tag 'Save libraries' %>&nbsp;&nbsp;&nbsp;
<!--%= submit_to_remote 'Singleplex', 'Refesh from Defaults',
      :url => {:action => 'populate_libs', :nr_libs => @new_lib.size},
      :update => 'libs_form' %-->
<div>&nbsp;</div>
<fieldset class="form">
<legend>Libraries</legend>
<table class="form-with-columns" cellspacing="2">
<tr>
    <th>Barcode</th>
    <th>Lib Name</th>
    <th>Library Conc</th>
    <th>Adapter</th>
    <th>Index1</th>
    <th>Index2</th>
    <th>Quantitation</th>
    <th>Size(Final PCR)</th>
    <th>FlowCell Conc</th>
    <th>Align Ref</th>
    <th>Trim Bases</th>
    <th><%=h Pool.human_attribute_name(:pool_name)%></th>
    <th>Enzyme</th>
</tr>
 <%= hidden_field_tag(:nr_libs, @new_lib.size) %>
 <% @new_lib.each_with_index do |lib, i| %>
    <%= fields_for 'seq_lib_' + i.to_s, lib do |f| %>
      <%= fields_for 'lib_sample_' + i.to_s, @lib_samples[i] do |s| %>
        <%= render '/shared/errors', model: s.object %>
        <%= f.hidden_field(:owner) %>
        <%= f.hidden_field(:preparation_date) %>
        <%= f.hidden_field(:protocol_id) %>

<tr>
    <td><%= f.text_field :barcode_key, :size => 10 %></td>
    <td><%= f.text_field(:lib_name, :size => 15)%></td>
    <td><%= f.text_field(:sample_conc, :size => 6)%> <%= f.select(:sample_conc_uom, SeqLib::SAMPLE_CONC) %></td>
    <td><%= f.collection_select(:adapter_id, @adapters, :id, :runtype_adapter, {},
                                {:data => {:remote => true, :url => url_for(:action => 'get_adapter_info', :row => i)}}) %></td>
    <td><%= s.collection_select(:index1_tag_id, @index1_tags, :id, :index1_code) %></td>
    <td><%= s.collection_select(:index2_tag_id, @index2_tags, :id, :index2_code) %></td>
    <td><%= f.collection_select(:quantitation_method, @quantitation, :c_value, :c_value,
                                                            {:include_blank => 'Select Method'}) %></td>
    <td><%= f.text_field(:pcr_size, :size => 6) %></td>
    <td><%= f.text_field(:lib_conc_requested, :size => 6)%>pM</td>
    <td><%= f.collection_select(:alignment_ref_id, @align_refs, :id, :alignment_key) %></td>
    <td><%= f.text_field(:trim_bases, :size => 6) %></td>
    <td><%= f.collection_select(:pool_id, @oligo_pools, :id, :pool_string, {:include_blank => 'Select Pool'}) %></td>
    <td><%= s.text_field(:enzyme_code, :size => 6) %></td>
</tr>
<tr>
  <th style="text-align:right; text-decoration: none;"><em>Source DNA/RNA:</em></th>  
  <td><%=s.autocomplete_field :source_sample_name, processed_samples_autocomplete_processed_sample_barcode_search_path, {size: 15, value: @lib_samples[i][:source_DNA]} %></td>
  <th style="text-align:right; text-decoration: none;"><em>Notebook Ref:</em></th>
  <td colspan="4"><%= f.text_field(:notebook_ref, :size => 50)%></td>
  <th style="text-align:right; text-decoration: none;"><em>Notes:</em></th>
  <td colspan="6"><%= f.text_field(:notes, :size => 80)%></td>
</tr>
<tr>
  <td colspan="12"><hr /></td>
</tr>
    <% end %>
  <% end %>
<% end %>
</table>
</fieldset>
</div>
<br/>