<table class="list">
  <tr>
  	<th>Tag#</th>
	<th>Tag Seq</th>
	<th>Source Lib</th>
	<th>Sample Name</th>
	<th>Patient ID</th>
	<th>Source DNA</th>	
	<th>Notes</th>
  </tr>
  
  <% for lib_sample in lib_samples %>
    <tr>
      <td><%=h lib_sample.index_tag %></td>
	  <td><%=h IndexTag.find_or_blank(lib_sample.runtype_adapter, lib_sample.index_tag) if !lib_sample.index_tag.nil? %></td>
	  <td><%=link_to lib_sample.splex_lib_barcode, SeqLib.find(lib_sample.splex_lib_id) if !lib_sample.splex_lib_id.nil? %></td>
      <td><%=h lib_sample.sample_name %></td>
	  <% if lib_sample.processed_sample %>
	    <td><%=h lib_sample.processed_sample.patient_id %></td>
	    <td><%= link_to lib_sample.source_DNA, lib_sample.processed_sample %>
	  <% else %>
	    <td>&nbsp;</td>
	    <td><%=h lib_sample.source_DNA %></td>
	  <% end %>  
	  <td><%=h lib_sample.notes %></td>
    </tr>
  <% end %>
</table>