<h1>Editing Sequencing Library: <%=h @seq_lib.lib_name %></h1>

<%= form_for(@seq_lib) do |f| %>
  <%= render '/shared/errors', model: @seq_lib %>
  
  <%= render :partial => 'seq_libs/lib_edit', :locals => {:f => f}%> 
    
  <fieldset class="form">
  <legend>Sample details</legend>
  <table class="form-with-columns-no-th-underline">
    <tr>
      <th>Index Tag(s)</th>
      <th>Sample Name</th>
      <th>Source DNA</th>
      <th>Notes</th>
    </tr>

    <%= f.fields_for :lib_samples do |s| %>
      <tr>
      	<td><%= s.text_field(:index_tag, :size => 4)%></td>
		<td><%= s.text_field(:sample_name, :size => 25)%></td>
	    <td width="30"><%=s.autocomplete_field :source_sample_name, processed_samples_autocomplete_processed_sample_barcode_search_path, size: 15 %></td>
	    <td><%= s.text_field(:notes, :size => 80)%></td>
	  </tr>
	<% end %>
  </table>
  </fieldset>
 
<%=raw break_clear (f.submit "Update") %>

<% end %>