<h3>Editing Sequencing Library: <%=h @seq_lib.lib_name %></h3>

<% form_for(@seq_lib) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'seq_lib_edit', :locals => {:f => f}%> 
    
  <span class="form_title">Sample details</span>
  <table class="form01">
    <tr>
      <th>Index Tag</th>
      <th>Sequence</th>
      <th>Adapter</th>
      <th>Sample Name</th>
      <th width="30">Source DNA</th>
      <th>Project</th>
      <th>Enzyme Code</th>
      <th>Notes</th>
    </tr>

    <% @seq_lib.lib_samples.each do |lib_sample| %>
      <tr><%= render :partial => 'lib_sample_edit', :locals => {:lib_sample => lib_sample} %></tr>
	<% end %>
  </table>
 
<p><%= f.submit "Update" %></p>
<% end %>