<h1>Editing Sequencing Library: <%=h @seq_lib.lib_name %></h1>

<% form_for(@seq_lib) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'seq_libs/lib_edit', :locals => {:f => f}%> 
    
  <fieldset class="form">
  <legend>Sample details</legend>
  <table class="form-with-columns-no-th-underline">
    <tr>
      <th>Index Tag(s)</th>
      <th>Sample Name</th>
      <th>Source DNA</th>
      <th>Notes</th>
    </tr>

    <% f.fields_for :lib_samples do |s| %>
      <tr>
      	<td><%= s.text_field(:index_tag, :size => 4)%></td>
		<td><%= s.text_field(:sample_name, :size => 25)%></td>
	    <td width="30"><%= s.text_field_with_auto_complete(:source_sample_name, {:size => 15},
              {:url => {:controller => :processed_samples, :action => :auto_complete_for_barcode_key},
               :param_name => :search, :min_chars => 3, :method => :get})%></td>
	    <td><%= s.text_field(:notes, :size => 80)%></td>
	  </tr>
	<% end %>
  </table>
  </fieldset>
 
<%= break_clear (f.submit "Update") %>

<% end %>