<h3>Editing Sequencing Library: <%=h @seq_lib.lib_name %></h3>

<% form_for(@seq_lib) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'seq_lib_edit', :locals => {:f => f}%> 
    
  <fieldset class="form">
  <legend>Sample details</legend>
  <table class="form-with-columns">
    <tr>
      <th>Index Tag</th>
      <th>Sequence</th>
      <th>Adapter</th>
      <th>Sample Name</th>
      <th>Source DNA</th>
      <th>Project</th>
      <th>Enzyme Code</th>
      <th>Notes</th>
    </tr>

    <% f.fields_for :lib_samples do |s| %>
      <tr><%= render :partial => 'lib_sample_edit', :locals => {:s => s} %></tr>
	<% end %>
  </table>
  </fieldset>
 
<p><%= f.submit "Update" %></p>

<% end %>