<h3>Sequencing Libraries (Filtered) </h3>

<table class="border">
  <tr>
  	<th>Lib Barcode</th>
    <th>Library Name</th>
	<th>Owner</th>
	<th>Prep Date</th>
	<th>Adapter</th>
	<th colspan=2>Sample Conc</th>
	<th>Project</th>
	<th>Alignment Ref</th>
	<th># Seq Lanes</th>
  </tr>

<% for seq_lib in @seq_libs %>
  <tr>
  	<td><%= link_to seq_lib.lib_barcode, seq_lib %>
    <td><%=h seq_lib.lib_name %></td>
	<td><%=h seq_lib.owner_abbrev %></td>
	<td><%=h seq_lib.preparation_date %></td>
	<td><%=h seq_lib.runtype_adapter %></td>
	<%= render :partial => 'sample_conc', :locals => {:seq_lib => seq_lib} %>
	<td><%=h seq_lib.target_pool %></td>
	<td><%=h seq_lib.alignment_ref %></td>
	<td><%=h seq_lib.seq_lane_cnt%></td>
	
	<% if can? :edit, seq_lib %>
	  <td><%= link_to 'Edit',   edit_seq_lib_path(seq_lib) %></td>
	<% end %>
	
	<% if seq_lib.seq_lane_cnt != '0' %>
	  <td class="noborder"> <%=link_to 'Show QC', :controller => :seqlib_lanes, :action => :show, :id => seq_lib.id %></td>
	<% end %>
	
	<td><%= link_to 'Attach', new_attached_file_path(:rec_type => 'seq_lib', :obj_id => seq_lib.id) %></td>
	
	<% if seq_lib.lib_status == 'L' %>
	  <% if can? :delete, seq_lib %>
	  <td><%= link_to 'Delete', seq_lib, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% end %>
	<% end %>  
  </tr>
  <% end %>
</table>