<h1>New Sequencing Library - Singleplex</h1>

<%= form_tag url_for(:action => :populate_libs), :remote => true do %>
  
  <%= render :partial => 'lib_form' %>
  <%=raw break_clear %>
  
  <b>Populate how many libraries with these defaults?</b>&nbsp;<%= text_field_tag(:nr_libs, '', :size => 5)-%>
    <!--%= link_to 'Add Libraries', populate_libs_path, {:onclick => "this.href += '?nr_libs='+$('#nr_libs').val(); return true;", remote: true} %-->
    <%= submit_tag 'Add Libraries' %>
    <!--%= submit_to_remote 'Singleplex', 'Add Libraries',
    :url => {:action => 'populate_libs', :method => :get},
    :update => 'splex_libs' -%-->
<% end %>

<%= form_tag url_for(:action => :create) do %>
  <% if @lib_with_error %><%= render '/shared/errors', model: @lib_with_error %><% end %>

  <div id='splex_libs'>
    <% if @new_lib %><%= render 'sample_form', model: @new_lib %><% end %>
  </div>
<% end %>
