<% @nr_libs ||= ' ' %>

<h1>New Sequencing Library - Singleplex</h1>

<%= form_tag url_for(:action => :populate_libs), {id: 'default_libs', remote: true} do %>
  
  <%= render :partial => 'lib_form' %>
  <%=raw break_clear %>
  
  <div id='add_libs'>
    <b>Populate how many libraries with these defaults?</b>&nbsp;<%= text_field_tag(:nr_libs, @nr_libs, :size => 5)-%>
  </div>
  <div id="add_libs_button"><%= submit_tag 'Add Libraries', id: 'lib_button' %></div>
<% end %>

<%= form_tag url_for(:action => :create) do %>
  <% if @lib_with_error %><%= render '/shared/errors', model: @lib_with_error %><% end %>

  <div id='splex_libs'>
    <% if @new_lib %><%= render 'sample_form', model: @new_lib %><% end %>
  </div>
<% end %>
