<h3>New Sequencing Library - Multiplex</h3>

<% form_for(@seq_lib, :url => {:action => :create_mplex}) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'mplex_lib_form', :locals => {:f => f}%> 
  
  <% if !@lib_samples %>
  <div id='mplex_samples'>
  <%= break_clear(submit_to_remote 'Multiplex', 'Enter Sample Details',
      :url => {:action => 'populate_mplex'},
      :update => 'mplex_samples') %>
  </div>
  
  <% else %>
    <%= render :partial => 'mplex_sample_form' %>
  <% end %>
<% end %>

<%= link_to 'Back', :back %>