<h3>New Sequencing Library - Singleplex </h3>

<% form_tag(:action => :create_splex) do %>
  
  <%= render :partial => 'splex_lib_form' %>

  <% if @lib_with_error %><%= error_messages_for :seq_lib, :object => @lib_with_error %><% end %>
  
  <% if @lib_samples.nil?%>
  <fieldset class="form" style="background:#fff;border:hidden;">
  <div id='splex_libs'>	
  <b>Populate how many libraries with these defaults?</b>&nbsp;<%= text_field_tag(:nr_libs, '', :size => 5)-%>
  <%= submit_to_remote 'Singleplex', 'Add Libraries',
      :url => {:action => 'populate_splex'},
      :update => 'splex_libs' -%>
  </div>
  </fieldset> 
  <% else %>
    <%= render :partial => 'splex_sample_form' %>
  <% end %>
<% end %>