<h3>Sequencing Library - Select parameters </h3>

<% form_tag :action=> 'list_selected'  do %>

<table class="form">
  <tr>
  <th>Owner(s):</th>
  <td><%= select(:seq_lib, :owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple}) %></td>
  <th>Project(s):</th>
  <td><%= collection_select(:seq_lib, :target_pool, @target_pools, :target_pool, :target_pool,
                   {:include_blank => '(All)'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr>
  <tr><td></td></tr>
  
  <tr>
  <th>Lib Name (search):</th>
  <td><%= text_field(:seq_lib, :lib_name, :size => 10)%></td>
  <th>Align Ref(s):</th>
  <td><%= collection_select(:seq_lib, :alignment_ref, @align_refs, :alignment_key, :alignment_key,
                   {:include_blank => '(All)'}, {:size => 3, :multiple => :multiple}) %> </td> 
  </tr> 
  <tr><td></td></tr>
  
  <tr>
  	<th>Prepared from:</th>
	<td><%= select_date(@from_date, :prefix => 'from_date', :end_year => Date.today.year )%></td>
  	<th align="right">To:</th>
	<td><%= select_date(@to_date, :prefix => 'to_date', :end_year => Date.today.year )%></td>
  </tr>	
</table>

<br />
<br />

<p><%= submit_tag "Submit" %></p>
<%end%>


