<h3>Sequencing Library</h3>

<%= render :partial => 'lib_show', :locals => {:seq_lib => @seq_lib} %>


<table class="border">
  <tr>
  	<% if @seq_lib.runtype_adapter[0,1] == 'M' %>
  	<th>Index Tag</th>
	<th>Tag Seq</th>
	<% end %>
  	<th>Runtype/Adapter</th>
	<th>Sample Name</th>
	<th>Source DNA</th>
	<th>Notes</th>
  </tr>
  <% for lib_sample in @seq_lib.lib_samples %>
    <tr>
      <% if @seq_lib.runtype_adapter[0,1] == 'M' %>
	  <td><%=h lib_sample.index_tag %></td>
	  <td><%=h IndexTag.find_or_blank(lib_sample.multiplex_type, lib_sample.index_tag)%>
	  <% end %>
      <td><%=h lib_sample.multiplex_type %></td>
	  <td><%=h lib_sample.sample_name %></td>
	  <td><%=h lib_sample.source_DNA %></td>
	  <td><%=h lib_sample.notes %></td>
    </tr>
    <% end %>
</table>

<% if can? :edit, @seq_lib %><%= link_to 'Edit Library', edit_seq_lib_path(@seq_lib) %><% end %>
