<h1>Molecular Assays Query</h1>

<%= form_for @molassay_query, :action => 'index', :method => :get do |f| %>
<%= render '/shared/errors', model: @molassay_query, header_message: 'Error(s) in query parameters' %>
<!--%= f.error_messages(:header_message => "Error(s) in query parameters") %-->

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
  	<th>Patient ID:</th>
	<td><%= f.text_field(:patient_id, :size => 10) %></td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
  	<th>Assay Owner(s):</th>
    <td><%= f.select(:owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple}) %></td>
  </tr>

  <tr>
  	<th>Assay Date Range:</th>
	<td><%= f.datepicker 'from_date', dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true, size: 15 %>
	<strong>&nbsp;To:&nbsp;</strong><%= f.datepicker 'to_date', dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true, yearRange: '-1', size: 15 %></td>
  </tr>
</table>
</fieldset>
<br />
<%=raw break_clear(submit_tag "Submit") %>
<%end%>



