<h1>Molecular Assays Query</h1>

<% form_for(@molassay_query, :action => 'index') do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
  	<th>Patient ID:</th>
	<td><%= f.text_field(:patient_id, :size => 10) %></td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
  	<th>Assay Owner(s):</th>
    <td><%= f.select(:owner, @owners, {:include_blank => '(All)'},{:size => 3, :multiple => :multiple}) %></td>
  </tr>

  <tr>
  	<th>Assay Date Range:</th>
	<td><%= f.calendar_date_select(:from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%>
	<strong>&nbsp;To:&nbsp;</strong><%= f.calendar_date_select(:to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
  </tr>
</table>
</fieldset>
<br />
<%= break_clear(submit_tag "Submit") %>
<%end%>



