<table class="form">
  	<tr>
  	  <th><%= f.label :researcher_name %></th>
	  <td><%= f.text_field :researcher_name %></td>
	</tr>
	
	<tr>
	  <th><%= f.label :researcher_initials %></th>
      <td><%= f.text_field :researcher_initials %></td>
	</tr>
	
	<tr>
	  <th><%= f.label :user_login %></th>
      <td><%= f.collection_select(:user_id, @users, :id, :login, {:include_blank => 'Select..'}) %></td>
	</tr>
	
    <tr>
	  <th><%= f.label :phone_number %></th>
      <td><%= f.text_field :phone_number %></td>
	</tr>
	
	<tr>
	  <th><%= f.label :company %></th>
      <td><%= f.text_field :company %></td>
	</tr>
	
	<tr>
	  <th>Active(A)/Inactive(I)</th>
	  <td><%=f.select(:active_inactive, %w{A I}) %></td>
	</tr>
  </table>