<h1>Editing researcher</h1>

<%= tagged_form_for(@researcher) do |f| %>
  <%= render '/shared/errors', model: @researcher %>

  <%= render :partial => 'researcher_form', :locals => {:f => f} %>
  
  <%=raw break_clear %>
  <%= f.submit "Update" -%>&nbsp;&nbsp;<%= link_to 'List All', researchers_path %>
<% end %>


