<% click_to_link ||= 'none' %>
<% show_mrn ||= 'yes' %>

<div class="info">
  <fieldset>
    <legend><em>PATIENT INFO</em></legend>
	<ol>
      <li>
      	<label>Patient ID:</label>
		<% if click_to_link == 'show' && (can? :read, patient) %>
        <div><%=link_to patient.id, patient %></div>
        <% elsif click_to_link == 'edit' && (can? :edit, patient) %>
        <div><%=link_to patient.id, edit_patient_path(patient) %></div>
        <% else %>
        <div><%=h patient.id %></div>
        <% end %>
      </li>
	  <li>
	    <% if show_mrn == 'yes' && (can? :read, patient) %>
        <label>MRN: </label>
		<div><%=h patient.mrn%></div>
        <% end %>
      </li>
	  <li>
        <label>Gender: </label>
		<div><%=h patient.gender %></div>
      </li>
	  <li>
        <label>Race/Ethnicity: </label>
		<div><%=h patient.race %>/<%=h patient.ethnicity %></div>
      </li>
	  <li>
      <% if show_mrn == 'yes' && (can? :read, Patient) %>
      <label>PHI Notes:</label>
	  <div><%=h patient.hipaa_data %></div>
      <% end %>
      <% if can? :edit, patient %>
      <div class="linkborder"><%= link_to 'Edit', edit_patient_path(patient) %></div>
      <% end %>
      </li>
	</ol>
  </fieldset>
</div> <!-- /info -->

<span class="table_title">Patient Info:</span>
<table class="info">
  <tr>
    <th>Patient ID: </th>
	<% if click_to_link == 'show' && (can? :read, patient) %>
	  <td><%=link_to patient.id, patient %></td>
	<% elsif click_to_link == 'edit' && (can? :edit, patient) %>
	  <td><%=link_to patient.id, edit_patient_path(patient) %></td>
	<% else %>
	  <td><%=h patient.id %></td>
	<% end %>
	<% if show_mrn == 'yes' && (can? :read, patient) %>
      <th>MRN: </th><td><%=h patient.mrn%></td>
    <% end %>
    <th>Gender: </th><td text-align=center><%=h patient.gender %></td>
    <th>Race/Ethnicity: </th><td><%=h patient.race %>/<%=h patient.ethnicity %></td>
	<% if show_mrn == 'yes' && (can? :read, Patient) %>
	  <th>PHI Notes:</th><td><%=h patient.hipaa_data %></td>
	<% end %>
	<% if can? :edit, patient %>
	  <td class="linkborder"><%= link_to 'Edit', edit_patient_path(patient) %></td>
	<% end %>
  </tr>
</table>