<h1>Editing patient</h1>

<%= form_for(@patient) do |f| %>
  <%= render '/shared/errors', model: @patient %>

  <%= render :partial => 'patient_form',      :locals => {:f => f, :patient_id => @patient.id} %>
  
  <%=raw break_clear %>
  <%= f.submit "Update" -%>&nbsp;&nbsp;<%= link_to 'Cancel', :back %>
<% end %>
