<h1>Details for patient: <%= @patient.id %></h1>

<%= render :partial => 'patient_info', :locals => {:patient => @patient, :click_to_link => 'none'} %>
<%= break_clear %>

<table class="list">
<tr>
<th colspan="5">Samples Collected:</th>	
</tr>
<tr>
  <th>Collect Date</th>
  <th>Clinic</th>
  <th>Protocol</th>
  <th># Samples</th>
  <th></th>
</tr> 

<% for sample_characteristic in @patient.sample_characteristics %>
  <% source_samples = sample_characteristic.samples.select { |sample| sample.clinical_sample == 'yes'} %>
	
  <tr>
    <td> <%=h sample_characteristic.collection_date %></td>
	<td> <%=h sample_characteristic.clinic_or_location %></td>
    <td> <% if sample_characteristic.consent_protocol %><%=h sample_characteristic.consent_protocol.name_ver %></td><% end %>
    <td> <%=h source_samples.size %></td>
    <% if can? :edit, SampleCharacteristic %>
      <td><%= link_to 'Edit', edit_sample_characteristic_path(sample_characteristic) %>
    <% end %>
  </tr>											   
<% end %>
</table>