<table class="form">
  	<tr>
  	  <th><%= f.label :machine_code %></th>
	  <td><%= f.text_field :machine_name %></td>
  	</tr>
	<tr>
  	  <th><%= f.label :description %></th>
	  <td><%= f.text_field :machine_desc %></td>
  	</tr>
	<tr>
  	  <th><%= f.label :machine_type %></th>
	  <td><%= f.select(:machine_type, %w{GAIIx HiSeq}) %></td>
  	</tr>
	<tr>
  	  <th><%= f.label :building %></th>
	  <td><%= f.select(:bldg_location, %w{SGTC Snyder Core Other}) %></td>
  	</tr>
	<% if @seq_machine.machine_name == 'Run_Number' %>
	<tr>
  	  <th><%= f.label :last_run_number %></th>
	  <td><%= f.text_field :last_seq_num %></td>
  	</tr>
	<% end %>		
  </table>