<table class="form">
  	<tr>
      <th><%= f.label :machine_name, 'Machine Code' %></th>
      <td><%= f.text_field :machine_name %></td>
    </tr>
    <tr>
      <th><%= f.label :machine_desc, 'Description' %></th>
      <td><%= f.text_field :machine_desc, :label => 'Description'  %></td>
    </tr>
    <tr>
      <th><%= f.label :machine_type %></th>
      <td><%= f.collection_select(:machine_type, @machine_types, :c_value, :c_value,
                                  {:include_blank => 'Select..'})%></td>
    </tr>
	<tr>
      <th><%= f.label :bldg_location, 'Building' %></th>
      <td><%= f.select(:bldg_location, %w{SGTC Snyder Core Other}) %></td>
	</tr>

	<% if @seq_machine.machine_name == 'Run_Number' %>
      <tr>
        <th><%= f.label :last_seq_num, 'Last run number' %></th>
        <td><%= f.text_field :last_seq_num, :label => 'Last run number' %></td>
      </tr>
	<% end %>		
  </table>
