<h1>Update Sequencing Machine</h1>

<fieldset class="form">
<legend>Seq Machine</legend>

<%= nested_form_for(@seq_machine) do |f| %>
  <%= render '/shared/errors', model: @seq_machine %>

  <%= render :partial => 'seq_machine_form', :locals => {:f => f} %>
  
  <br/><h3>Machine Incident Log:</h3>
  <%= render :partial => 'machine_incident_fields', :locals => {:f => f, :default_date => 'no'} %>

</fieldset>
<%= f.submit "Update" %>
<% end %>
