<% edit_he ||= 'no' %>
<span class="table_title">H&E Slide:</span>
  <table class="info">
	<tr>
	  <th>HE barcode: </th>
	  <td><%=h histology.he_barcode_key %></td>
	  <th>HE date: </th><td><%=h histology.he_date %></td>
	  <th>Pathologist</th><td colspan=3><%=h histology.pathologist %></td>
	  <% if can? :edit, histology %>
	  <td id='linkborder'><%=link_to 'Edit', edit_histology_path(histology)%></td>
	  <% end %>
	  <% if can? :delete, histology %>
	  <td id='linkborder'><%=link_to 'Delete', histology, :confirm => 'Are you sure?', :method => :delete %></td>
	  <% end %>
	</tr>
	<tr>
	  <th>Histopathology</th><td><%=h histology.histopathology %></td>
	  <th>Tumor cell content</th><td><%=h histology.tumor_cell_content %></td>
	  <th>Inflammation</th><td><%=h histology.inflammation_type %></td>
	  <th>Infiltration</th><td><%=h histology.inflammation_infiltration %></td>
	</tr>
	<% if !histology.comments.blank? %>
	<tr>
	  <th>Comments</th>
	  <td colspan=5><%=h histology.comments %></td>
	</tr>
	<% end %>
  </table>