<h3>H&E Slide: <%=h @histology.he_barcode_key %></h3>

<%= render :partial => 'sample_characteristics/clinical_summary', :locals => {:sample_characteristic => @histology.sample.sample_characteristic,
                                                                              :patient => @histology.sample.patient } %>

<%= render :partial => 'samples/sample_summary', :locals => {:sample_characteristic => @histology.sample.sample_characteristic,
                                                             :sample => @histology.sample } %>

<% if @histology.sample.sample_characteristic.pathology %>
  <%= render :partial => 'pathologies/pathology_info', :locals => {:pathology => @histology.sample.sample_characteristic.pathology} %>
<% end %>

<%= render :partial => 'histology_info', :locals => {:histology => @histology, :edit_he => 'yes'} %>
<% if can? :delete, @histology %>
<span><%=button_to 'Delete H&E Slide', @histology, :confirm => 'Are you sure?', :method => :delete %></span>
<% end %>