<h1>Sequencing Run Query</h1>

<% form_for(@flowcell_query, :action => :index) do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
  	<th>Run#</th>
	<td><%=f.text_field(:run_nr, :size => 6)%></td>
  </tr>
  <tr><td align="center" class="grey">-OR-</td></tr>
  <tr>
  	<th>Machine(s):</th>
    <td><%= f.collection_select(:machine_name, @sequencers, :machine_name, :machine_name, {:include_blank => '(All)'}) %></td> 
  <tr>
  	<th>Run Dates:</th>
	<td><%=f.calendar_date_select(:from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %>
	<strong>&nbsp;To:&nbsp;</strong><%=f.calendar_date_select(:to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
  </tr>	
</table>
</fieldset>
<%= break_clear(submit_tag "Submit") %>
<%end%>







