<fieldset class="form">
<legend>Item Details</legend>
  <table class="form">
  	<tr>
  	  <th>Requestor:</th>
	  <td><%=f.select(:requester_name, @researchers, {:include_blank => 'Select requestor'}) %></td>
  	  <th>Date Entered:</th>
	  <% if @item.new_record? %>
	    <td><%= format_datetime(Time.now) %></td>
      <% else %>
	    <td><%=h format_datetime(@item.created_at) %></td>
      <% end %>
	</tr>
	<tr> 
      <th>Deliver Site:</th>
	  <td><%=f.select(:deliver_site, Item::DELIVER_SITES, {:include_blank => true})%></td>
	  <th>Grant #:</th>
	  <td><%=f.collection_select(:grant_nr, @grant_nrs, :c_value, :c_value, {:include_blank => 'Select..'}) %></td>
	</tr>
	<tr>
	  <th>Company:</th>
	  <td><%=f.autocomplete_field :company_name, items_autocomplete_item_company_name_path %></td>
	  <th>Chemical?</th>
	  <td><%=f.select(:chemical_flag, %w{Y N}, {:include_blank => true}) %></td>
	</tr>
	<tr>
	  <th>Catalog#:</th>
	  <td><%=f.text_field :catalog_nr %></td>
	  <th>Item Description:</th> 
	  <td width=60><%=f.text_field(:item_description, :size => 60) %></td>
	</tr>
	<tr>
      <th>Quantity:</th>
      <td><%=f.text_field :item_quantity, :size => 15 %></td>
      <th>Size/Unit:</th>
      <td><%=f.text_field :item_size, :size => 15 %></td>
	</tr>
	<tr>
      <th>Unit Price:</th>
      <td>$<%=f.text_field :item_price, :size => 12 %></td>
      <th>Total:</th>
      <td id="item_ext_price">$<%= f.object.item_ext_price %></td>
      <%= javascript_tag do %>
          $('#item_item_quantity').change(function(){
          $('#item_ext_price').text("$" + $('#item_item_quantity').val() * $('#item_item_price').val());
          });
          $('#item_item_price').change(function(){
          $('#item_ext_price').text("$" + $('#item_item_quantity').val() * $('#item_item_price').val());
          });
      <% end %>
	</tr>
    <% if controller.action_name != 'new' %>
    <tr>
      <th>Recv'd:</th>
      <td><%=f.select(:item_received, %w{Y N}, {:include_blank => true}) %></td>
    </tr>
    <% end %>
	<tr>
	  <th>Notes:</th>
	  <td colspan="3"><%=f.text_field :notes, :size => 50 %></td>
  	</tr>
  </table>
  </fieldset>