<span class="form_title">Item(s):</span>
<table class="form01">
  <tr>
  	<th>Catalog#</th>
	<th>Company Name</th>
	<th>Description</th>
  	<th>Chemical?</th>
	<th>Quantity</th>
	<th>Size</th>
	<th>Price</th>
  </tr>
  
  <% @items.each_with_index do |itm, i| %>
    <% fields_for 'items_' + i.to_s, itm do |f| %>
	<%= f.error_messages %>
	
	<%= f.hidden_field(:requester_name) %>
	<%= f.hidden_field(:deliver_site) %>
	<%= f.hidden_field(:grant_nr) %>
	
	<tr>
	  <td><%= f.text_field_with_auto_complete :catalog_nr, {:size => 10},
              {:url => {:controller => :items, :action => :auto_complete_for_catalog_nr},
               :param_name => :search, :min_chars => 3, :method => :get,
			   
			   :after_update_element => "function(element,value){" + 
			     remote_function(:url => { :action => :update_fields, :i => i},
                                 :with => "'catalog_nr=' + element.value") + "}"} %>
	  </td>
	  <td><%=f.text_field_with_auto_complete(:company_name, {},
             {:url => {:controller => :items, :action => :auto_complete_for_company_name},
              :param_name => :search, :min_chars => 3, :method => :get})%></td>
	  <td><%= f.text_field_with_auto_complete :item_description, {:size => 50},
              {:url => {:controller => :items, :action => :auto_complete_for_item_description},
               :param_name => :search, :min_chars => 3, :method => :get,
			   
			   :after_update_element => "function(element,value){" + 
			     remote_function(:url => { :action => :update_fields, :i => i},
                                 :with => "'item_description=' + element.value") + "}"} %>
	  </td>
	  <td><%=f.select(:chemical_flag, %w{Y N}, {:include_blank => true}) %></td> 
	  <td><%=f.text_field(:item_quantity, :size => 10) %></td>
	  <td><%=f.text_field(:item_size, :size => 15) %></td>
	  <td><%=f.text_field(:item_price, :size => 10) %></td> 
	  
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td class="form_title" colspan=5>Notes: <%=f.text_field(:notes, :size => 65)%></td>
	</tr>
	<tr><td colspan=7><hr></td></tr>
	<% end %>
  <% end %>
</table>

<p><%= submit_tag "Save items"%></p>
