<h3>Order Items - Specify Filter Criteria</h3>

<% form_for(@item_query, :url => {:controller => 'items', :action => 'list_selected'}) do |f| %>
<%= f.error_messages(:header_message => "Error(s) in query parameters") %>

<table class="form">
  <tr>
  	<th>Company:</th>
	<td><%= f.select(:company_name, @companies, {:include_blank => 'Select Company'},
                    {:size => 3, :multiple => :multiple}) %></td>
  	<th>Requestor:</th>
	<td><%= f.select(:requester_name, @requestors, {:include_blank => 'Select Requestor'},
                    {:size => 3, :multiple => :multiple}) %></td>
  </tr>
</table>

<table class="form">
  <tr>
  	<th>Entered From:</th>
	<td><%= f.calendar_date_select(:from_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
	<td>&nbsp;&nbsp;</td>
  	<th>To:</th>
	<td><%= f.calendar_date_select(:to_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
  </tr>
</table>

<table class="form">
  <tr>
  	<th>Status</th>
	<td><%= select_tag(:item_status, options_for_select(%w{All NotOrdered Ordered}))%></td>
	<th>Deliver Site</th>
	<td><%= f.select(:deliver_site, Item::DELIVER_SITES, {:include_blank => 'All'})%></td>
  </tr>	
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>