<h1>New item</h1>

<%= form_tag :action => 'create' do %>
<fieldset class="form">
<legend>Order Details</legend>
  <table class="form">
  	<tr>
  	  <th>Requestor:</th>
	  <td><%=select(:item_default, :requester_name, @researchers, {:include_blank => 'Select requestor'}) %></td>
  	  <td></td>
	  <td><%=format_datetime(Time.now) %></td>
	</tr>
	<tr>
	  <th>Deliver Site:</th>
	  <td><%=select(:item_default, :deliver_site, Item::DELIVER_SITES, {:include_blank => true})%></td>
	  <th>Grant #</th>
	  <td><%=collection_select(:item_default, :grant_nr, @grant_nrs, :c_value, :c_value, {:include_blank => 'Select..'}) %>
  	</tr>
  </table>
</fieldset>
<%=raw break_clear %>
 
<div id="item_error" style="display:none; color:red"></div>

  <% if @items.nil? %>
  <div id='item_entry'> 
  <span><b>Quantity of items to order:</b>&nbsp;<%= text_field_tag(:nr_items, '', :size => 5)-%></span>
  <%= link_to 'Add Items', '', id: 'add_items', :'data-show_err_id' => 'item_error', :remote => true %>
  </div>

  <% else %>
    <%= render :partial => 'multi_item_form'%>
  <% end %>
  
<% end %>
