<h1>View Order Items</h1>

<%= tagged_form_for(@item_query, :url => {:controller => 'items', :action => 'list_selected'}) do |f| %>
<%= render '/shared/errors', model: @item_query, header_message: "Error(s) in query parameters" %>

<fieldset class="form">
<legend>Specify parameters</legend>
<table class="form">
  <tr><%= f.select(:company_name, @companies, {:include_blank => 'All'}, {:size => 3, :multiple => :multiple, :label => 'Company'})%></tr>
  <tr><%= f.select(:requester_name, @requestors, {:include_blank => 'All'}, {:size => 3, :multiple => :multiple, :label => 'Requestor'})%></tr>
  <tr><%= f.select(:item_status, %w{All NotOrdered Ordered}, :label => 'Status')%></tr>
  <tr><%= f.select(:deliver_site, Item::DELIVER_SITES, {:include_blank => 'All'}, :label => 'Deliver Site')%></tr>
  <tr>
  	<th>Entered From:</th>
	<td>
      <%=f.datepicker 'from_date', dateFormat: "yy-mm-dd", maxDate: Time.current.to_date, changeMonth: true, changeYear: true, size: 15, wraptags: 'none' %>
	  &nbsp;&nbsp;<strong>To:</strong>&nbsp;&nbsp;
      <%=f.datepicker 'to_date', dateFormat: "yy-mm-dd", maxDate: Time.current.to_date, changeMonth: true, changeYear: true, size: 15, wraptags: 'none' %>
	</td>
  </tr>
</table>
</fieldset>

<%=raw break_clear(f.submit "Submit") %>
<%end%>