<h3>Order Item</h3>

<table class="list">
  	<tr>
  	  <th>Date</th>
	  <th>Requestor</th>
	  <th>Site</th>
	  <th>Company</th> 
	  <th>Item Description</th> 
	  <th>Chemical?</th> 	
  	</tr>
	<tr>
	  <td><%=h format_datetime(@item.created_at) %></td>
	  <td><%=h @item.requester_abbrev %></td>
	  <td><%=h @item.deliver_site %></td>
	  <td><%=h @item.company_name %></td>
	  <td><%=h @item.item_description %></td>
	  <td><%=h @item.chemical_flag %></td>
	</tr>
  </table>
 
  <table class="list">
	<tr>
	  <th>Catalog#</th>
	  <th>Size</th>
	  <th>Price</th>
	  <th>Quantity</th>
	  <th>Quote?</th>
	  <th>Recv'd?</th>
	</tr>
	
	<tr>
      <td><%=h @item.catalog_nr %></td>
	  <td><%=h @item.item_size %></td>
	  <td><%=h @item.item_price %></td>
	  <td><%=h @item.item_quantity %></td>
	  <td><%=h @item.item_quote %></td>
	  <td><%=h @item.item_received %></td>
	</tr>
  </table>
  
  <table class="list">
  	<tr>
  	  <th>Grant#</th>
	  <th>Notes</th>
	</tr>
	<tr> 
	  <td><%=h @item.grant_nr %></td>
	  <td><%=h @item.notes %></td>
	</tr>
  </table>

<%= link_to 'Edit Item', edit_item_path(@item) %> 
