<% if controller.action_name == 'new' %>
<span class="form_title">From Extracted Sample:</span>
  <table class="list">
	  <tr>
	  	<th>Barcode</th>
		<th>Type</th>
		<th>Volume</th>
		<th>Concentration</th>
		<th>a260/a280</th>
	  </tr>
	  
	  <tr>
	  	<td><%=h @processed_sample.barcode_key%></td>
		<td><%=h @processed_sample.extraction_type %></td>
		<td><%=h @processed_sample.final_vol %></td>
		<td><%=h @processed_sample.final_conc %></td>
		<td><%=h @processed_sample.final_a260_a280 %></td>
	  </tr>
  </table>
<% end %>

<b>Prepared Sample Info:</b> 
  <table class="form01">
	<tr>
	  <th>Barcode</th>
	  <td><%=f.text_field :barcode_key, :size => 12, :readonly => true %></td>
	  <th>Preparation Date</th>
	  <td><%=f.calendar_date_select(:preparation_date, :year_range => [Sample::START_YEAR, 0.years.from_now],
                                    :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
	  <th>Protocol</th>
	  <td><%=f.collection_select(:protocol_id, @protocols, :id, :protocol_name,
                                 {:include_blank => 'Select protocol'})%></td>
	</tr>

	<tr>
	  <th>Comments</th> 
	  <td colspan=5><%=f.text_area :comments, :cols => 90, :rows => 2 %></td>
	</tr>
</table>

<p><%=check_box_tag(:attach_file) %> Check to attach file</p>