<b>Prepared Sample Info:</b> 
  <table class="border">
	<tr>
	  <th>Barcode</th>
	  <td><%=h @prepared_sample.barcode_key %></td>
	  <th>Preparation Date</th>
	  <td><%=h @prepared_sample.preparation_date %></td>
	  <th>Protocol</th>
	  <td><%=h @prepared_sample.protocol_id %></td>
	</tr>
	<tr>
	  <th>Comments</th> 
	  <td colspan=5><%=h @prepared_sample.comments %></td>
	</tr>
</table>

<%= render :partial => '/shared/attach_file' %>