<fieldset class="form">
<legend>Protocol Details</legend>
 <table class="form">
  	<tr>
  	  <%=f.select(:protocol_type, Protocol::PROTOCOL_TYPES, {:include_blank => 'Select Type'}) %>
	</tr>
	<tr><%= f.text_field :protocol_name, :tdcolspan => 3, :size => 50%></tr>
	<tr>
	  <%=f.text_field :protocol_abbrev, :size => 20, :label => 'Short Name' %>
	  <%=f.text_field :protocol_code, :size => 4, :label => 'Code' %>
    <tr>
      <%=f.text_field :protocol_version, :size => 10 %>
	  <%=f.text_field :reference,  :size => 20 %>
	</tr>
	<tr><%=f.text_area :comments, :tdcolspan => 3, :cols => 75, :rows => 2 %></td>
  </table>
</fieldset>
<%= break_clear %>