  <table class="border">
  	<tr>
	  <th>Protocol Type</th> 
    </tr>
	<tr>
	  <td><%= f.select(:protocol_type, Protocol::PROTOCOL_TYPES, {:include_blank => 'Select Type'}) %></td>
	</tr>
	<tr>
	  <th colspan=2>Protocol Name</th>
	  <th colspan=2>Abbreviation</th>
	  <th>Version</th>
	</tr>
	<tr>
	  <td colspan=2><%= f.text_field :protocol_name, :size => 50 %></td>
	  <td colspan=2><%= f.text_field :protocol_abbrev, :size => 35 %></td>
	  <td><%= f.text_field :protocol_version, :size => 10 %></td>
	<tr>
	  <th>Vendor</th>
      <th>Catalog Nr</th>
      <th>Lot Nr</th>
      <th>Reference</th> 
	</tr>
	<tr>
	  <td><%=f.text_field :vendor,     :size => 20 %></td>
	  <td><%=f.text_field :catalog_nr, :size => 20 %></td>
	  <td><%=f.text_field :lot_nr,     :size => 20 %></td>
	  <td><%=f.text_field :reference,  :size => 20 %></td>
	</tr>	
	<tr>
	  <th>Protocol Steps:</th>
	  <td colspan=4><%= f.text_area :protocol_steps, :cols => 75, :rows => 6 %></td>
	</tr>
	<tr>
	  <th>Comments:</th>
	  <td colspan=4><%= f.text_area :comments, :cols => 75, :rows => 2 %></td>
	</tr>
  </table>
  