<h3>Editing protocol</h3>

<% form_for(@protocol) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'protocol_info', :locals => {:f => f}%>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @protocol %> |
<%= link_to 'Back', protocols_path %>
