<h1>New protocol</h1>

<%= tagged_form_for(@protocol) do |f| %>
  <%= render '/shared/errors', model: @protocol %>

  <%= render :partial => 'protocol_form', :locals => {:f => f} %>

  <%=raw break_clear (f.submit "Create") %>
<% end %>

<%= link_to 'List All', protocols_path %>
