<h1>Editing category</h1>

<% form_for(@category) do |cform| %>
  <%= cform.error_messages %>

  <p>Category: <%=h @category.category %></p>

  <p>
    <%= cform.label :category_description %><br />
    <%= cform.text_field :category_description %>
  </p>
  
  <div id="category">
    <%= render :partial => 'cat_values', :locals => {:category_values => @category.category_values,
                                                     :cform => cform} %>
  </div>
  
  <%= add_value_link("Add Value", cform) %>
  
  <p>
    <%= cform.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
