<h1>Editing category</h1>

<%= nested_form_for(@category) do |cform| %>
  <%= render '/shared/errors', model: @category %>
  
  <fieldset class="form">
  <legend>Category: <%=h @category.category %></legend>

  <p><%= cform.label :category_description %>&nbsp;&nbsp;<%= cform.text_field :category_description %></p>
  
  <div id="category">
    <%= render :partial => 'cat_values', :locals => {:category_values => @category.category_values,
                                                     :cform => cform} %>
  </div>  

  </fieldset>
  
  <%=raw break_clear(cform.submit "Update" )%>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
