<h1>Categories</h1>

<!--table class="info01"-->
<table class="list">
  <tr>
    <th>Grouping</th>
	<th>Category</th>
    <th>Category description</th>
	<th colspan=3></th>
  </tr>

<% for category in @categories %>
  <tr>
    <td><%=h category.cgroup.group_name %></td>
	<td><%=h category.category %></td>
    <td><%=h category.category_description %></td>
    <td><%= link_to 'Show', category %></td>
	<td><% if can? :edit, category %>
        <%= link_to 'Edit', edit_category_path(category) %></td>
	    <% end %></td>
	<td><% if can? :delete, category %>
        <%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %>
	    <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>
