<h1>New category</h1>

<%= nested_form_for(@category) do |cform| %>
  <%= render '/shared/errors', model: @category %>
  
  <fieldset class="form">
  <legend>Category details</legend>
  <table>
    <tr>
      <th><%=cform.label :category %></th>
      <td><%=cform.text_field :category %></td>
    </tr>
    <tr>
      <th><%=cform.label :category_description, 'Description' %></th>
      <td><%= cform.text_field :category_description %></td>
    </tr>
  </table>

  <%= render :partial => 'cat_values', :locals => {:cform => cform} %>
  <br />
  </fieldset>
  
  <%=raw break_clear(cform.submit "Create")%>
<% end %>

<%= link_to 'List All', categories_path %>
