<h1>New category</h1>

<% form_for(@category) do |cform| %>
  <%= cform.error_messages %>
  
  <fieldset class="form">
  <legend>Category details</legend>
  <div>
    <%= cform.label :category %>:&nbsp;<%= cform.text_field :category %><br />
    <%= cform.label :category_description, 'Description' %>:&nbsp;<%= cform.text_field :category_description %>
  </div>
  <br />
  
  <div id="category">
    <%= render :partial => 'cat_values', :locals => {:cform => cform} %>
  </div>
  <br />
  </fieldset>
  
  <%=raw break_clear(cform.submit "Create")%>
<% end %>

<%= link_to 'List All', categories_path %>
