<h3>New category</h3>

<% form_for(@category) do |cform| %>
  <%= cform.error_messages %>

  <p>
    <%= cform.label :category %><br />
    <%= cform.text_field :category %>
  </p>
  <p>
    <%= cform.label :category_description %><br />
    <%= cform.text_field :category_description %>
  </p>
  
  <div id="category">
    <%= render :partial => 'cat_value', :collection => @category.category_values %>
  </div>
  
  <p><%= add_value_link "Add a value" %></p>

  <p>
    <%= cform.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>
