<h1>Listing Samples in Container: <%=h @ssc.container_type %>&nbsp;<%=h @ssc.container_name %></h1>

<%= form_tag :action => :export_container do %>
    <%= submit_tag "Export Container" -%>
    <br/><br/>

<table class="list">
  <tr>
  	<th>Sample Name</th>
    <th>Position</th>
	<th>Sample Type</th>
	<th>Room/Freezer</th>
	<th>Upd By</th>
    <th>&nbsp;</th>
  </tr>

  <% @sample_storage_containers.each do |sscontainer| %>
    <%= hidden_field_tag("export_id[]", sscontainer.id)  %>
    <tr>
      <td>
        <% if sscontainer.stored_sample %><%=link_to sscontainer.sample_name_or_barcode, sscontainer.stored_sample %>
        <% else %><%=h sscontainer.sample_name_or_barcode %>
        <% end %>
      </td>
	  <td><%=h sscontainer.position_in_container %></td>
	  <td><%=h sscontainer.type_of_sample %></td>
	  <td><%=h sscontainer.room_and_freezer %></td>
	  <td><% if sscontainer.updated_by %><%=h User.find(sscontainer.updated_by).login %><% end %></td>
      <td><% if can? :edit, SampleStorageContainer %>
            <%=link_to 'Edit', edit_path_by_type(sscontainer) %>
          <% end %>
      </td>
    </tr>
    <% end %> <!-- end of sample_storage_container do loop -->
</table>

<% end %> <!-- end of form -->