<h1>Listing Samples in Container: Rack 01</h1>

<table class="list">
  <tr>
  	<th>Sample Name</th>
    <th>Position</th>
	<th>LIMS sample type</th>
    <th>LIMS id</th>
	<th>Upd By</th>
	<th></th>
  </tr>

  <% @sample_storage_containers.each do |sscontainer| %>
  <tr>
  	<td><%= sscontainer.sample_name_or_barcode %></td>
	<td><%= sscontainer.position_in_container %></td>
	<td><%= sscontainer.stored_sample_type %></td>
	<td><%= sscontainer.stored_sample_id %></td>
	<td><%= sscontainer.updated_by %></td>
  </tr>
  <% end %>
</table>
