<h1>Listing freezer containers</h1>

<table class="list">
  <tr>
  	<th>Room</th>
    <th>Freezer</th>
	<th>Owner</th>
    <th>Container Type</th>
	<th>Container Name</th>
    <th>Nr of Samples</th>
	<th></th>
  </tr>

  <% @ss_containers.sort.each do |loc_array, samples | %>
    <% freezer_location = (loc_array[0].nil? ? nil : FreezerLocation.find(loc_array[0])) %>
  <tr>
  	<td><% if freezer_location %><%=freezer_location.room_nr %><% end %></td>
	<td><% if freezer_location %><%=freezer_location.freezer_nr %><% end %></td>
	<td><% if freezer_location %><%=freezer_location.owner_name %><% end %></td>
	<td><%=h loc_array[1] %></td>
	<td><%=h samples[0].container_name %></td>
	<td><%=link_to samples.size, :action => :details, :ss_container_id => samples[0].id %></td>
  </tr>
  <% end %>
</table>
