<h1>Listing Samples in Container: <%=h @container_type %>&nbsp;<%=h @container_name %></h1>

<table class="list">
  <tr>
  	<th>Sample Name</th>
    <th>Position</th>
	<th>LIMS sample type</th>
    <th>LIMS id</th>
	<th>Room/Freezer</th>
	<th>Upd By</th>
	<th></th>
  </tr>

  <% @sample_storage_containers.each do |sscontainer| %>
  <tr>
  	<td>
  	  <% if sscontainer.stored_sample %><%=link_to sscontainer.sample_name_or_barcode, sscontainer.stored_sample %>
	  <% else %><%=h sscontainer.sample_name_or_barcode %>
	  <% end %>
	</td>
	<td><%=h sscontainer.position_in_container %></td>
	<td><%=h sscontainer.stored_sample_type %></td>
	<td><%=h sscontainer.stored_sample_id %></td>
	<td><%=h sscontainer.room_and_freezer %></td>
	<td><%=h sscontainer.updated_by %></td>
  </tr>
  <% end %>
</table>
