<h3>See below for new clinical sample:</h3>

<table class="form border">
  <tr>
    <th>MRN</th>
	<th>Patient ID</th>
    <th>Gender</th>
	<th>Ethnicity</th>
    <th>Race</th>
	<th>Collection Date</th>
	<th>Clinic</th>
	<th>Consent Protocol</th>
  </tr>
  <tr>
  	<td><%=h @mrn %></td>
	<td><%=h @sample.patient_id %></td>
	<td><%=h @sample.patient.gender %></td>
	<td><%=h @sample.patient.ethnicity %></td>
	<td><%=h @sample.patient.race %></td>
	<td><%=h @sample.sample_characteristic.collection_date %></td>
	<td><%=h @sample.sample_characteristic.clinic_or_location %></td>
	<td><%=h @sample.sample_characteristic.consent_nr %></td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
  	<th>Sample barcode</th>
	<th>Sample Site/L-R</th>
	<th>Sample Type</th>
	<th>Preservation</th>
	<th>Entered By</th>
	<th>Comments</th>
  </tr>
  <tr>
  	<td><%=h @sample.barcode_key %></td>
	<td><%=h @sample.sample_tissue %>
	    <% if !@sample.left_right.blank? %>-<%=h @sample.left_right %><% end %></td>
	<td><%=h @sample.sample_type %></td>
	<td><%=h @sample.tissue_preservation %></td>
	<td><%=h @upd_by %></td>
	<td><%=h @sample.comments %></td>
  </tr>
  
  <tr><td>&nbsp;</td></tr>
  
  <tr>
	<th>Amount</th>
	<th>UOM</th>
	<th>Location</th>
  </tr>
  <tr>
	<td><%=h @sample.amount_initial %></td>
	<td><%=h @sample.amount_uom %></td>
	<td><%=h @sample.sample_storage_container.container_and_position if @sample.sample_storage_container %></td>
  </tr>	
</table> 