<!DOCTYPE html>
<html>
<head>
  <title>SGTC LIMS - <%= controller.action_name %></title>
  <meta name="description" content="<%= META_TAGS[:description] %>" />
  <meta name="keywords" content="<%= META_TAGS[:keywords] %>" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %-->
  <!--[if IE]><%= stylesheet_link_tag 'ie-fixes' %><![endif]-->   
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-migrate-1.0.0.js" %>
  
  <script type="text/javascript">
    var $ = jQuery.noConflict();
  </script>  
  <script type="text/javascript">
  // initialise Superfish 
  $(document).ready(function() { 
    $('ul.sf-menu').superfish({ 
      delay:       1000,                            // one second delay on mouseout 
      animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
      speed:       'fast'                          // faster animation speed
    }); 
  }); 		
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body id='body'>
    <% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %>
    <% env_descr  = (DEMO_APP == true ? "(DEMO)" : (Rails.env == 'production' ? nil : "(#{Rails.env})"))%>  

<% check_actions_user = ["forgot"] %>
<% check_actions_welcome = ["add_user", "user_login" ] %>
<% if ( 
        (controller.controller_name == "welcome" && !check_actions_welcome.include?(controller.action_name)) || 
        (controller.controller_name == "users" && check_actions_user.include?(controller.action_name)) ||
        (@invalid_login_flag) 
      )
%>
    <% @frontpages = "1" %>
    <div id="container" style="width: 800px;">
<% else %>
    <div id="container" style="width: 98%;">
<% end %>
    
<div id="header">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 0;">  
   <tr>
      <td valign="top" rowspan="2" width="180"><div class="logo">
      	<% if DEMO_APP == true %>
      	  <%= image_tag("SU_Seal_Card_pos_89.gif",  :height => "89", :alt => "Stanford University") %>
		<% else %>
		  <%= image_tag("sutech_reflect_DB_89.gif", :height => "89", :alt => "Stanford Genome Technology") %>
		<% end %>
	  </div></td>
      <td>          
        <table align="center">
          <tr>
            <td>
              <div class="sitename-graphic"><%= image_tag("mendelims-sitename.gif", :height => "45", :title => "Mendelian LIMS Targeted Resequencing", :alt => "Mendelian LIMS Targeted Resequencing") %></div>
              <div class="sitename-description">Laboratory Information Management System</div>         
            </td>
          </tr>
        </table> 
      </td>
      <td valign="top" width="180" class="rgt-header-bg-graphic">
      	<div class="version"><% if APP_VERSION %>Version: <%= APP_VERSION %><% end %><br /><span class="grey"><%=h env_descr %></span><br>
          <% if Rails.env != 'production' %>
            <span class="grey">
              git branch: <%= GIT_BRANCH %><br>
              Rails Ver: <%= Rails.version %><br>
              Ruby Ver: <%= RUBY_VERSION %>
            </span>
          <% end %>
      </td>
    </tr>
    <tr>
      <td><div class="tagline"><%= APP_TAGLINE if APP_TAGLINE %></div></td>      
      <td valign="bottom">
      	<% if (logged_in? && controller.action_name != "logout") %>
        <div class="logout-link">
          <%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Logout', logout_url %>
        </div>
        <% end %>
      </td>	  
    </tr>
  </table>  
</div><!-- /header -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0; table-layout:fixed;">
  <tr><td id="topnavbar">
  <% if (logged_in? && controller.action_name != "logout") %>
  <ul class="sf-menu">
  	
    <% if user_has_access?(user_roles, ["clinical", "clin_admin"]) %>
    <li><a href="#">Clinical</a>     
      <ul>
        <li><%= link_to 'New Clinical Sample', new_sample_characteristic_path %></li>
		<li><%= link_to 'New Pathology Report', new_path_rpt_path %></li>
		<li><%= link_to 'New H &amp; E Slide', new_he_slide_path %></li>
		<% barcode_menu_item = (user_has_access?(user_roles, ["barcodes"]) ? 'Manage Barcodes' : 'Barcode Ranges') %>
		<% if user_has_access?(user_roles, ["barcodes"]) %>
		<li><%= link_to barcode_menu_item, assigned_barcodes_path %></li>
		<% end %>
		<li><a class="last-submenu-item" href="#">Edit</a>
          <ul>
          	<li><%= link_to 'Patient', modify_patient_path %></li>
          	<li><%= link_to 'Sample Acquisition', modify_sample_path %></li>
			<li><%= link_to 'Physical Sample', upd_sample_path %></li>     
            <li><%= link_to 'Pathology', new_path_rpt_path  %></li>
            <li><%= link_to 'H &amp; E Slide', new_he_slide_path, :class => 'last-submenu-item'  %></li>
          </ul>
        </li>
      </ul>
    </li>
    
    <!--% else %-->
    <!--<li><a href="#">Clinical</a></li>-->
    <% end %>
	<!-- /clinical -->   
	
    <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
    <li><a href="#">Sample Processing</a>
	  <ul>
        <li><%= link_to 'New Dissection', new_dissection_path %></li>
        <li><%= link_to 'New Extraction', new_extraction_path %></li>
        <li><%= link_to 'Edit Sample', upd_sample_path, :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!--% else %-->
	<!--<li><a href="#">Sample Processing</a></li>-->
    <% end %>  
	<!-- /sample processing -->
	
	 <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
    <li><a href="#">Molecular Assays</a>
	  <ul>
        <li><%= link_to 'New Assay', new_molecular_assay_path %></li>
        <li><%= link_to 'List Assays', molecular_assays_path, :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!--% else %-->
	<!--<li><a href="#">Molecular Assays</a></li>-->
    <% end %>  
	<!-- /molecular assays -->
	
    <li><a href="#">Sequencing/Alignment</a>
      <ul>
      	<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"]) %>
        <li><a href="#">Library Prep</a>
          <ul>
            <li><%= link_to 'New Lib-Singleplex', new_seq_lib_path  %></li>
            <li><%= link_to 'New Lib-Multiplex',  mplex_setup_path, :class => 'last-submenu-item' %></li>
          </ul>
        </li>
        <li><a href="#">Sequencing</a>
		  <ul>
            <li><%= link_to 'Prepare FlowCell',  flow_cell_setup_path %></li>
            <li><%= link_to 'Sequence FlowCell', flow_cells_path(:rpt_type => 'seq'), :class => 'last-submenu-item' %></li>
          </ul>
        </li>
		<% end %>
		<li><%= link_to 'List Run Locations', run_dirs_path %></li>
        <li><%= link_to 'List Seq Runs', flow_cells_path(:rpt_type => 'list'), :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!-- /sequencing alignment -->
	    
	<% if user_has_access?(user_roles, ["admin"]) %> 
	<li><a href="#">Admin</a>
      <ul> 
        <li><%= link_to 'Users',  users_path %></li>
        <li><%= link_to 'Researchers', researchers_path %></li> 
        <li><%= link_to 'Run Dir Management', run_dirs_path, :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<% end %> <!-- /admin -->
	
    <li><a class="last-topmenu-item" href="#">Orders</a>
	  <% view_items_label = (user_has_access?(user_roles, ["orders"]) ? 'View/Order items' : 'View Items') %>
	  <ul>
        <li><%= link_to 'New item', new_item_path %></li>
        <li><%= link_to view_items_label, view_items_path %></li>
        <li><%= link_to 'List/Upd orders', view_orders_path, :class => 'last-submenu-item' %></li>
      </ul>
	</li> 
	<!-- /orders -->
  </ul> <!-- /ul nav bar -->
  <% else %>  
  <div style="height: 24px;">&nbsp;</div>
  <% end %>
  </td></tr>
</table>

<div class="clear"></div>

<div id="main">

<% if (logged_in? && controller.action_name != "logout") %>	
<div id="leftsidebar">
  <div class="user_info">
     <em>Logged in as: <%= current_user.login %></em>
  </div>
  <ul class="opened">
    <li> <a href="#">Query:</a> 
      <ul>
       <li><%= link_to 'Source/Dissections', unprocessed_query_path %></li>
       <li><%= link_to 'H&E Slides',         histology_query_path %></li>
       <li><%= link_to 'Extracted Samples',  processed_query_path %></li>
       <li><%= link_to 'Sample Locations',   storage_query_path %></li>
       <li><%= link_to 'Storage Containers', container_query_path %></li>
	   <li><%= link_to 'Molecular Assays',   mol_assay_query_path %></li>
       <li><%= link_to 'Seq Libraries',      lib_query_path  %></li>
       <li><%= link_to 'Sequencing Runs',    seq_run_query_path %></li>	   
      </ul>
    </li>
    <br/>
    <li> <a href="#">View/Manage:</a>  
      <ul>
      	<% if user_has_access?(user_roles, ["clin_admin", "lab_admin"]) %> 
		<li><%= link_to 'Drop-Down Lists', categories_path %></li>
		<% end %>     
		
      	<li><%= link_to 'Publications',       publications_path %></li>
		<li><%= link_to 'Protocols',          protocol_type_path %></li>
      	<li><%= link_to 'Freezer Locations',  freezer_locations_path %></li>   
		
		<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"])%>
 		<li><%= link_to 'Multiplex Tags', adapters_path %></li>
		<li><%= link_to Pool.human_attribute_name(:pool_name).pluralize, oligo_pools_path %></li>
		<% end %>
		
		<% if user_has_access?(user_roles, ["alignment"]) %>  
        <li><%= link_to 'Alignment Refs', alignment_refs_path %></li>
		<% end %>
		
		<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"])%>
		<li><%= link_to 'Seq Machines', seq_machines_path %></li>
		<li><%= link_to 'Disks/Directories', storage_devices_path %></li>
		<% end %>		           
      </ul>
    </li>			
  </ul>  <!-- /opened -->
</div> <!-- /leftsidebar -->    
<% end %>

<% if (@frontpages || (controller.controller_name == "welcome" && controller.action_name == "user_login")) %>
<div id="maincontent" class="frontpages">
<% else %>  
<div id="maincontent">
	
<% end %> 
	<div style='color:red'> <%= flash[:error]%></div>
	<div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
</div><!-- /maincontent -->
	
</div><!-- /main -->

<div id="footer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 0;">
  <tr>
    <td valign="top">
      <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
      <a href="mailto:sgrimes@stanford.edu">Contact</a>
      <div class="site-blurb">Website provided by the <a href="http://dna-discovery.stanford.edu">Ji Research Group</a><br />School of Medicine and Genome Technology Center at Stanford University<br />
      This website and its content &copy; Stanford University, <%= Time.now.localtime.strftime("%Y") %>. All rights reserved.
      </div>
    </td>
    <td valign="top">
    &nbsp;
    </td>
  </tr>
</table>
</div>

</div><!-- /container -->
</body>
</html>
